<!-- FAT FOOTER - BEGINS -->
	<footer class="evo-fat-footer">

	<!-- CONTENT SECTION - BEGINS -->
		<section class="row evo-footer-content-section">
			<div class="evo-contain-to-grid">
				<div class="medium-3 large-6 columns">

					<section class="row collapse">
						<div class="small-only-text-center small-12 columns evo-fat-footer-logo">
							<img src="{{assets}}/images/core/corp-logos/marsh-mclennan/mmc_logo_rgb{{#is package.product_suite 'bp'}}_reverse{{/is}}.png" alt="Marsh &amp; McLennan Companies" width="225" height="10">
						</div>
						<div class="small-only-text-center small-12 columns">
						<!-- SOCIAL MEDIA BADGES - BEGINS -->
							<div class="evo-social-media-badges-ctn">
								{{> icon tagname="a" class="evo-icon-facebook2 evo-icon-size-medium" href="#/" icon-title="Facebook" aria-label="Facebook"}}
								{{> icon tagname="a" class="evo-icon-twitter2 evo-icon-size-medium" href="#/" icon-title="Twitter" aria-label="Twitter"}}
								{{> icon tagname="a" class="evo-icon-tumblr2 evo-icon-size-medium" href="#/" icon-title="Tumblr" aria-label="Tumblr"}}
								{{> icon tagname="a" class="evo-icon-linkedin evo-icon-size-medium" href="#/" icon-title="LinkedIn" aria-label="LinkedIn"}}
							</div>
						<!-- SOCIAL MEDIA BADGES - ENDS -->
						</div>
					</section>
				</div>
				<div class="small-only-text-center medium-3 large-2 columns evo-footer-links">
					<h5 class="evo-footer-link-hdr">Quick Links</h5>
					<ul class="no-bullet">
						<li><a href="#/">Terms of Use</a></li>
						<li><a href="#/">Privacy Policy</a></li>
						<li><a href="#/">Sitemap</a></li>
						<li><a href="#/">Contact Us</a></li>
					</ul>
				</div>
				<div class="small-only-text-center medium-3 large-2 columns evo-footer-links">
					<h5 class="evo-footer-link-hdr">Mercer US</h5>
					<ul class="no-bullet">
						<li><a href="#/">Mercer Events</a></li>
						<li><a href="#/">Mercer Products</a></li>
						<li><a href="#/">Investor Information</a></li>
						<li><a href="#/">Tax Compilance</a></li>
					</ul>
				</div>
				<div class="small-only-text-center medium-3 large-2 columns evo-footer-links">
					<h5 class="evo-footer-link-hdr">Resources</h5>
					<ul class="no-bullet">
						<li><a href="#/">Lines of Business</a></li>
						<li><a href="#/">Office Locations</a></li>
						<li><a href="#/">Newsroom</a></li>
					</ul>
				</div>
			</div>
		</section>
	<!-- CONTENT SECTION - BEGINS -->

	<!-- BRAND BAR - BEGINS -->
		<section class="row evo-fat-footer-brand-bar">
			<div class="evo-contain-to-grid">
			<!-- FOOTER BRAND LOGO - BEGINS -->
				<div class="medium-6 medium-push-6 columns small-text-center medium-text-right evo-brand-bar-footer-logo">
					<a class="small-only-text-center" href="http://www.mercer.com/" target="_blank" title="Mercer - Make Tomorrow, Today">
						<img src="{{assets}}/images/core/corp-logos/mercer/mercer_mtt_horizontal_rgb{{#is package.product_suite 'bp'}}_reverse{{/is}}.png" alt="Mercer - Make Tomorrow, Today" width="395" height="15">
					</a>
				</div>
			<!-- FOOTER BRAND LOGO - ENDS -->

			<!-- FOOTER COPYRIGHT - BEGINS -->
				<div class="medium-6 medium-pull-6 columns">
					<p class="small-only-text-center evo-footnote evo-footer-copyright">
						<small>&copy; {{now "%Y"}} Mercer LLC, All Rights Reserved</small>
					</p>
				</div>
			<!-- FOOTER COPYRIGHT - ENDS -->
			</div>
		</section>
	<!-- BRAND BAR - ENDS -->

	</footer>
<!-- FAT FOOTER - ENDS -->