/*------------------------------------------------------------------------------------------
Mercer Evolution v{{ evo_meta_version }} - Core UI CSS
DATE: {{ evo_meta_date }}
AUTHOR: {{ evo_meta_author }}
URL: {{ evo_meta_url }}
-------------------------------------------------------------------------------------------*/

// ==========================================================================================
// CORE IMPORTS
// ==========================================================================================

@import	"core/ui_settings",
		"core/ui_core";