/*------------------------------------------------------------------------------------------
Mercer Evolution v{{ evo_meta_version }} - Core CSS
DATE: {{ evo_meta_date }}
AUTHOR: {{ evo_meta_author }}
URL: {{ evo_meta_url }}
-------------------------------------------------------------------------------------------*/

// ==========================================================================================
// CORE IMPORTS
// ==========================================================================================

@import	"core/settings",
		"core/core";