/*------------------------------------------------------------------------------------------
{{ meta_project }} v{{ meta_version }} - Site IE CSS
DATE: {{ meta_date }}
AUTHOR: {{ meta_author }}
URL: {{ meta_url }}
-------------------------------------------------------------------------------------------*/

// ==========================================================================================
// CORE SASS IMPORTS
// ==========================================================================================

@import	"core/global/color_variables",
		"core/foundation/foundation/settings",
		"core/global/variables",
		"core/global/functions",
		"core/global/mixins";

// ==========================================================================================
// SITE IMPORTS
// ==========================================================================================

@import	"partials/global/settings",
		"partials/global/variables",
		"partials/global/functions";

/*=== WEBSITE IE STYLES ===================================================================*/

// ==========================================================================================
// IE9 FIXES 
// ==========================================================================================
.ie9						{

	

							}