/*--------------------------------------------------------------------------------------------
Project Name - Site CSS
DATE - 
AUTHOR - 
--------------------------------------------------------------------------------------------*/

// ===========================================================================================
// CORE SASS IMPORTS
// ===========================================================================================

@import	"core/global/color_variables",
		"core/foundation/foundation/settings",
		"core/global/variables",
		"core/global/functions",
		"core/global/mixins";

// ===========================================================================================
// SITE IMPORTS
// ===========================================================================================

@import	"partials/global/settings",
		"partials/global/variables",
		"partials/global/functions",
		"partials/base/icons";

/*=== WEBSITE STYLES =======================================================================*/

/*--- SITE GLOBAL --------------------------------------------------------------------------*/



/*--- KITCHEN SINK -------------------------------------------------------------------------*/

// GRID DEMO
.evo-grid-demo							{
	.row									{
											border: 1px solid $onyx-dark-10;
											margin-bottom: $evo-base-margin;
											margin-left: 0 !important;
											margin-right: 0 !important;
											}
	.columns								{background-color: $onyx-dark-2;}
	.columns:nth-child(2n)					{background-color: $onyx-dark-6;}

	[class*="evo-icon-"]					{top: 3px;}

	[class*="small-block-grid-"]			{
		li										{
												background-color: $onyx-dark-2;
												border-top: 1px solid $onyx-dark-10;
												border-right: 1px solid $onyx-dark-10;
												border-bottom: 1px solid $onyx-dark-10;
												padding-top: rem-calc($evo-base-padding);
												text-align: center;
			&:nth-child(2n)							{background-color: $onyx-dark-6;}
			&:first-child							{border-left: 1px solid $onyx-dark-10;}
												}
											}
										}

// CENTER HORIZONTALLY AND VERTICALLY DEMO
.evo-center-container-dimensions-demo
										{
										height: rem-calc(200);
										width: 100%;
	p										{
											width: rem-calc(200) !important;
											}
										}

// HYPHEN DEMO
.evo-hyphen-demo						{@include hyphens(auto);}

// WORD BREAK DEMO
.evo-word-break-container-dimensions-demo
										{
										height: rem-calc(50);
										width: rem-calc(200);
										}

/*--- STYLES SECTION HEADER ----------------------------------------------------------------*/



/*=== MEDIA QUERIES ========================================================================*/
@import	"partials/global/responsive_small",
		"partials/global/responsive_medium",
		"partials/global/responsive_large",
		"partials/global/responsive_xlarge",
		"partials/global/responsive_xxlarge"
		;

// ===========================================================================================
// PATTERN IMPORTS
// ===========================================================================================

// CONVERSATIONAL FORM
@import	"../../patterns/organisms/conversational-form/conversational-form.scss";

// FAT FOOTER
@import	"../../patterns/organisms/fat-footer/fat-footer.scss";

// ITEM SELECTION PANEL
@import	"../../patterns/organisms/item-selection-panel/item-selection-panel.scss";

// PRICING TABLE
@import	"../../patterns/organisms/pricing-table/pricing-table.scss";

// SHOWCASE PANEL
@import	"../../patterns/organisms/showcase-panel/showcase-panel.scss";

// SOCIAL MEDIA BADGES
@import	"../../patterns/organisms/social-media-badges/social-media-badges.scss";

// STEPPER
@import	"../../patterns/organisms/stepper/stepper.scss";

// THIN FOOTER
@import	"../../patterns/organisms/thin-footer/thin-footer.scss";