<!-- DROPDOWNS - BEGINS -->
{{> button button-type="button" dropdown="true" text="Top Aligned" data-toggle="dropdown-top-example-1"}}
<div class="dropdown-pane top evo-dropdown-pane" id="dropdown-top-example-1" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>

{{> button button-type="button" dropdown="true" text="Right Aligned" data-toggle="dropdown-right-example-1"}}
<div class="dropdown-pane right evo-dropdown-pane" id="dropdown-right-example-1" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>

{{> button button-type="button" dropdown="true" text="Bottom Aligned" data-toggle="dropdown-bottom-example-1"}}
<div class="dropdown-pane bottom evo-dropdown-pane" id="dropdown-bottom-example-1" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>

{{> button button-type="button" dropdown="true" text="Left Aligned" data-toggle="dropdown-left-example-1"}}
<div class="dropdown-pane left evo-dropdown-pane" id="dropdown-left-example-1" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>
<!-- DROPDOWNS - ENDS -->