<!-- DROPDOWNS - BEGINS -->
{{> button button-type="button" dropdown="true" text="Hoverable Dropdown" data-toggle="dropdown-hover-1"}}
<div class="dropdown-pane evo-dropdown-pane" id="dropdown-hover-1" data-dropdown data-hover="true" data-hover-pane="true">
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>

<br>

<a href="javascript:;" data-toggle="dropdown-hover-2">Hoverable Dropdown</a>
<div class="dropdown-pane evo-dropdown-pane" id="dropdown-hover-2" data-dropdown data-hover="true" data-hover-pane="true">
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>
<!-- DROPDOWNS - ENDS -->