<!-- DROPDOWNS - BEGINS -->
{{> button button-type="button" dropdown="true" text="Toggle Dropdown" data-toggle="dropdown-1"}}
<div class="dropdown-pane evo-dropdown-pane" id="dropdown-1" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>

<br>

<a href="javascript:;" data-toggle="dropdown-2">Toggle Dropdown</a>
<div class="dropdown-pane evo-dropdown-pane" id="dropdown-2" data-dropdown>
	<p class="evo-no-margin">{{lorem count=5}}</p>
</div>
<!-- DROPDOWNS - ENDS -->