<!-- TABS - BEGIN -->
<ul class="tabs evo-tabs" data-tabs id="example-tabs">
	<li class="tabs-title evo-tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
	<li class="tabs-title evo-tabs-title"><a href="#panel2">Tab 2</a></li>
	<li class="tabs-title evo-tabs-title"><a href="#panel3">Tab 3</a></li>
	<li class="tabs-title evo-tabs-title"><a href="#panel4">Tab 4</a></li>
</ul>
<!-- TABS - ENDS -->

<!-- TAB PANELS - BEGIN -->
<div class="tabs-content evo-tabs-content" data-tabs-content="example-tabs">
	<section class="tabs-panel evo-tabs-panel is-active" id="panel1"><p>{{ lorem count=4}}</p></section>
	<section class="tabs-panel evo-tabs-panel" id="panel2"><p>{{ lorem count=4}}</p></section>
	<section class="tabs-panel evo-tabs-panel" id="panel3"><p>{{ lorem count=4}}</p></section>
	<section class="tabs-panel evo-tabs-panel" id="panel4"><p>{{ lorem count=4}}</p></section>
</div>
<!-- TAB PANELS - ENDS -->