<!-- SPECIFIC USE COLORS - BEGINS -->
<span class="label alert evo-label">Alert</span>
<span class="label success evo-label">Success</span>
<span class="label warning evo-label">Warning</span>
<!-- SPECIFIC USE COLORS - ENDS -->