<!-- SPOT COLORS - BEGINS -->
<div class="callout clearfix evo-callout"> 
	<section>
		<p data-evo-font-color="sapphire-medium"><strong>Font color attribute.</strong></p>
	</section>
</div>
<div class="callout clearfix evo-callout" data-evo-border-color="amethyst-bright"> 
	<section>
		<p><strong>Border color attribute.</strong></p>
	</section>
</div>
<div class="callout clearfix evo-callout" data-evo-background-color="emerald-light"> 
	<section>
		<p><strong>Background color attribute.</strong></p>
	</section>
</div>
<!-- SPOT COLORS - ENDS -->