//-------------------------------------------------------------------------------------------
// Project Name - Icons Partial
// DATE - 
// AUTHOR - 
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// ICONS
// ==========================================================================================

@if $use-icon-font-site == true {

	// ICON FONT
	// ------------------------------------------------------------------------------------------
	@include font-face($evo-icon-site-font-family, $evo-icon-site-font-file-path);


	// ICONS
	// ------------------------------------------------------------------------------------------

	// ICON FONT - SITE SET - FONT STACK
	[class^="evo-icon-site-"]		{font-family: $evo-icon-site-font-stack;}

	// ICON FONT - SITE SET - ICON CLASSES
	
	

}//endif