//-------------------------------------------------------------------------------------------
// Mercer Evolution - Badges Partial
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-badge-border-radius: $global-rounded !default;
$evo-badge-shadow-horizontal: 0 !default;
$evo-badge-shadow-vertical: rem-calc(1) !default;
$evo-badge-shadow-blur: rem-calc(2) !default;
$evo-badge-shadow-spread: 0 !default;
$evo-badge-shadow-color: $evo-base-shadow-color !default;
$evo-badge-line-height: 1 !default;
$evo-badge-text-align: center !default;
$evo-badge-font-size: rem-calc(12) !default;
$evo-badge-padding: rem-calc(5 6 3 6) !default;
$evo-badge-min-width: rem-calc(20) !default;
$evo-badge-small-font-size: rem-calc(12) !default;
$evo-badge-small-padding: rem-calc(5 6 3 6) !default;
$evo-badge-small-min-width: rem-calc(20) !default;
$evo-badge-medium-font-size: rem-calc(14) !default;
$evo-badge-medium-padding: rem-calc(9 7 7 7) !default;
$evo-badge-medium-min-width: rem-calc(30) !default;
$evo-badge-large-font-size: rem-calc(16) !default;
$evo-badge-large-padding: rem-calc(12 10) !default;
$evo-badge-large-min-width: rem-calc(40) !default;
$evo-badge-x-large-font-size: rem-calc(18) !default;
$evo-badge-x-large-padding: rem-calc(17 15 15 15) !default;
$evo-badge-x-large-min-width: rem-calc(50) !default;


@if $use-badges == true{

	// BADGES
	.evo-badge		{
					@include border-radius($evo-badge-border-radius);
					@include box-shadow($evo-badge-shadow-horizontal $evo-badge-shadow-vertical $evo-badge-shadow-blur $evo-badge-shadow-spread $evo-badge-shadow-color);
					line-height: $evo-badge-line-height;
					text-align: $evo-badge-text-align;
					font-size: $evo-badge-font-size;
					padding: $evo-badge-padding;
					min-width: $evo-badge-min-width;

		// BADGE SIZE HELPERS
		// There are four badge sizes: small, medium, large, x-large. The default size of badges is the small size.
		&[data-evo-badge-size="small"]
						{
						font-size: $evo-badge-small-font-size;
						padding: $evo-badge-small-padding;
						min-width: $evo-badge-small-min-width;
						}
		&[data-evo-badge-size="medium"]
						{
						font-size: $evo-badge-medium-font-size;
						padding: $evo-badge-medium-padding;
						min-width: $evo-badge-medium-min-width;
						}
		&[data-evo-badge-size="large"]
						{
						font-size: $evo-badge-large-font-size;
						padding: $evo-badge-large-padding;
						min-width: $evo-badge-large-min-width;
						}
		&[data-evo-badge-size="x-large"]
						{
						font-size: $evo-badge-x-large-font-size;
						padding: $evo-badge-x-large-padding;
						min-width: $evo-badge-x-large-min-width;
						}
					}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif