<!-- BOTTOM LABEL PRICING TABLE - BEGINS -->
<div class="evo-pricing-table">

<!-- ITEM - BEGINS -->
	<ul class="small-block-grid-2">
		<li>Blue Cross of Massachusetts</li>
		<li class="evo-pricing-table-item-amt">
			$<span>140.00</span>
			<div class="evo-pricing-table-value-label">monthly</div>
		</li>
	</ul>
<!-- ITEM - ENDS -->

<!-- ITEM - BEGINS -->
	<ul class="small-block-grid-2">
		<li>Blue Cross of Massachusetts</li>
		<li class="evo-pricing-table-item-amt">
			$<span>140.00</span>
			<div class="evo-pricing-table-value-label">monthly</div>
		</li>
	</ul>
<!-- ITEM - ENDS -->

<!-- TOTAL - BEGINS -->
	<ul class="small-block-grid-2 evo-pricing-table-total-row">
		<li class="evo-pricing-table-total-label">Total</li>
		<li class="evo-pricing-table-total-amt">$<span>189.65</span></li>
	</ul>
<!-- TOTAL - ENDS -->

</div>
<!-- BOTTOM LABEL PRICING TABLE - ENDS -->