<!-- TOP LABEL PRICING TABLE - BEGINS -->
<div class="evo-pricing-table">

<!-- ITEM LABEL - BEGINS -->
	<div class="row small-up-2 collapse evo-pricing-table-category-label">
		<div class="columns evo-pricing-table-item-label">Health</div>
	</div>
<!-- ITEM LABEL - ENDS -->

<!-- ITEM - BEGINS -->
	<div class="row small-up-2 collapse">
		<div class="columns evo-pricing-table-item">Blue Cross of Massachusetts</div>
		<div class="columns evo-pricing-table-item-amt">$<span>140.00</span></div>
	</div>
<!-- ITEM - ENDS -->

<!-- ITEM LABEL - BEGINS -->
	<div class="row small-up-2 collapse evo-pricing-table-category-label">
		<div class="columns evo-pricing-table-item-label">Health</div>
	</div>
<!-- ITEM LABEL - ENDS -->

<!-- ITEM - BEGINS -->
	<div class="row small-up-2 collapse">
		<div class="columns evo-pricing-table-item">Blue Cross of Massachusetts</div>
		<div class="columns evo-pricing-table-item-amt">$<span>140.00</span></div>
	</div>
<!-- ITEM - ENDS -->

<!-- TOTAL - BEGINS -->
	<div class="row small-up-2 collapse evo-pricing-table-total-row">
		<div class="columns evo-pricing-table-total-label">Total</div>
		<div class="columns evo-pricing-table-total-amt">$<span>189.65</span></div>
	</div>
<!-- TOTAL - ENDS -->

</div>
<!-- TOP LABEL PRICING TABLE - ENDS -->