<!-- ACCORDION - WITH ICONS - BEGINS -->
	<ul class="accordion evo-accordion evo-accordion-icons" data-accordion role="tablist">
		<li class="accordion-navigation">
			<a id="panel1icons-heading" href="#panel1icons" role="tab" aria-controls="panel1icons">Accordion 1</a>
			<div id="panel1icons" class="content active" role="tabpanel" aria-labelledby="panel1icons-heading">
				<p class="evo-no-margin-bottom">
				Lorem ipsum vestibulum adipiscing purus torquent lorem iaculis id duis vivamus. Mattis cras lacus mollis fermentum vitae venenatis vestibulum mollis morbi. Sociosqu nostra eget volutpat. Ligula tellus vestibulum class et eu nullam non id molestie massa arcu. Accumsan in curae; consectetuer lacus dignissim gravida tempor. At facilisis semper consequat nunc arcu morbi.
				</p>
			</div>
		</li>
		<li class="accordion-navigation">
			<a id="panel2icons-heading" href="#panel2icons" role="tab" aria-controls="panel2icons">Accordion 2</a>
			<div id="panel2icons" class="content" role="tabpanel" aria-labelledby="panel2icons-heading">
				<p class="evo-no-margin-bottom">
				Lorem ipsum vestibulum adipiscing purus torquent lorem iaculis id duis vivamus. Mattis cras lacus mollis fermentum vitae venenatis vestibulum mollis morbi. Sociosqu nostra eget volutpat. Ligula tellus vestibulum class et eu nullam non id molestie massa arcu. Accumsan in curae; consectetuer lacus dignissim gravida tempor. At facilisis semper consequat nunc arcu morbi.
				</p>
			</div>
		</li>
		<li class="accordion-navigation">
			<a id="panel3icons-heading" href="#panel3icons" role="tab" aria-controls="panel3icons">Accordion 3</a>
			<div id="panel3icons" class="content" role="tabpanel" aria-labelledby="panel3icons-heading">
				<p class="evo-no-margin-bottom">
				Lorem ipsum vestibulum adipiscing purus torquent lorem iaculis id duis vivamus. Mattis cras lacus mollis fermentum vitae venenatis vestibulum mollis morbi. Sociosqu nostra eget volutpat. Ligula tellus vestibulum class et eu nullam non id molestie massa arcu. Accumsan in curae; consectetuer lacus dignissim gravida tempor. At facilisis semper consequat nunc arcu morbi.
				</p>
			</div>
		</li>
	</ul>
<!-- ACCORDION - WITH ICONS - ENDS -->