{{!--
custom-class: your custom class
text: your content
--}}
<span class="form-error{{#if custom-class}} {{custom-class}}{{/if}}">{{#if text}}{{{text}}}{{else}}Houston we have a problem.{{/if}}</span>