{{!--
custom-class: your custom class
id: unique id of help text
text: your content
--}}
<p class="help-text{{#if custom-class}} {{custom-class}}{{/if}}" id="{{id}}">{{#if text}}{{{text}}}{{else}}This is form help text.{{/if}}</p>