<form class="" id="" name="" method="" action="" title="">
	<fieldset>
		<div class="row collapse evo-form-prefix">
			<div class="small-3 large-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="small-9 large-10 columns">
				{{> input type="text" placeholder="Enter your URL..."}}
			</div>
		</div>

		<div class="row collapse evo-form-postfix">
			<div class="small-10 columns">
				{{> input type="text" placeholder="Hex Value"}}
			</div>
			<div class="small-2 columns">
				{{> button custom-class="postfix" text="Go"}}
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<div class="row collapse prefix-radius evo-form-prefix">
					<div class="small-4 columns">
						<span class="prefix">Label</span>
					</div>
					<div class="small-8 columns">
						{{> input type="text" placeholder="Value"}}
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="row collapse postfix-radius evo-form-postfix">
					<div class="small-8 columns">
						{{> input type="text" placeholder="Value"}}
					</div>
					<div class="small-4 columns">
						<span class="postfix">Label</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<div class="row collapse prefix-round evo-form-prefix">
					<div class="small-4 columns">
						{{> button custom-class="prefix" text="Go"}}
					</div>
					<div class="small-8 columns">
						{{> input type="text" placeholder="Value"}}
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<div class="row collapse postfix-round evo-form-postfix">
					<div class="small-8 columns">
						{{> input type="text" placeholder="Value"}}
					</div>
					<div class="small-4 columns">
						{{> button custom-class="postfix" text="Go"}}
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>