{{!--
class: custom class
required: if the field is going to be required and will use the abide validation [TRUE] is the value
tabindex: the tab index order number
select-title: custom title
--}}
<select{{#if class}} class="{{class}}"{{/if}}{{#if tabindex}} tabindex="{{tabindex}}"{{/if}}{{#if select-title}} title="{{{select-title}}}"{{/if}}{{#if required}} required{{/if}}>
	<option value="">Choose one&hellip;</option>
	<option value="">Item 1</option>
	<option value="">Item 2</option>
	<option value="">Item 3</option>
</select>