//-------------------------------------------------------------------------------------------
// Project Name - Responsive CSS - X-large Media Query - 1441px - 1920px
// DATE - 
// AUTHOR - 
//-------------------------------------------------------------------------------------------

// X-LARGE MEDIA QUERY RANGE AND UP - 1441px +
@media #{$xlarge-up} {

	

}

// X-LARGE MEDIA QUERY RANGE - 1441px - 1920px
@media #{$xlarge-only} {

	

}