//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v3.0.1 - Base Buttons Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-button-min-width: rem-calc(120) !default;
$evo-button-font-color-visited:	$button-font-color !default;
$evo-button-font-color-alt-visited: $button-font-color-alt !default;
$evo-button-group-stacked-border-color: rgba($white, .5) !default;


@if $use-buttons == true{

	// CORE BUTTON SETUP
	.evo-button 					{
									min-width: $evo-button-min-width;

		// BUTTON VISITED LINK COLOR
		&:visited						{color: $evo-button-font-color-visited;}
		
		// SECONDARY BUTTON
		&.secondary						{
			&:visited						{color: $evo-button-font-color-alt-visited;}
										}

		// BUTTON ICONS
		&[data-evo-button-icons="both"],
		&[data-evo-button-icons="left"],
		&[data-evo-button-icons="right"]
										{
			[class^="evo-icon-"]			{
											top: rem-calc(2);
											line-height: inherit;
											color: inherit;
											}
			.evo-icon-position-left			{
											float: left;
											margin-right: rem-calc(8);
											}
			.evo-icon-position-right		{
											float: right;
											margin-left: rem-calc(8);
											}
			.evo-button-text				{position: relative;}
										}
		&[data-evo-button-icons="both"],
		&[data-evo-button-icons="both"].expand
										{
										padding-left: rem-calc(16);
										padding-right: rem-calc(16);
										}
		&[data-evo-button-icons="left"]	{padding-left: rem-calc(16);}
		&[data-evo-button-icons="right"]{padding-right: rem-calc(16);}

		&[data-evo-button-icons="left"].expand
										{
										padding-left: rem-calc(16);
										padding-right: rem-calc(32);
										}
		&[data-evo-button-icons="right"].expand
										{
										padding-left: rem-calc(32);
										padding-right: rem-calc(16);
										}

		&[data-evo-button-icons="both"].tiny,
		&[data-evo-button-icons="left"].tiny,
		&[data-evo-button-icons="right"].tiny
										{
			[class^="evo-icon-"]			{top: 0;}
			.evo-icon-position-left			{margin-right: rem-calc(6);}
			.evo-icon-position-right		{margin-left: rem-calc(6);}
			.evo-button-text				{top: rem-calc(2);}
										}
		&[data-evo-button-icons="both"].tiny
										{
										padding-left: rem-calc(10);
										padding-right: rem-calc(10);
										}
		&[data-evo-button-icons="left"].tiny
										{padding-left: rem-calc(10);}
		&[data-evo-button-icons="right"].tiny
										{padding-right: rem-calc(10);}

		&[data-evo-button-icons="left"].tiny.expand
										{
										padding-left: rem-calc(10);
										padding-right: rem-calc(20);
										}
		&[data-evo-button-icons="right"].tiny.expand
										{
										padding-left: rem-calc(20);
										padding-right: rem-calc(10);
										}

		&[data-evo-button-icons="both"].small,
		&[data-evo-button-icons="left"].small,
		&[data-evo-button-icons="right"].small
										{
			[class^="evo-icon-"]			{top: 0;}
			.evo-icon-position-left			{margin-right: rem-calc(7);}
			.evo-icon-position-right		{margin-left: rem-calc(7);}
			.evo-button-text					{top: 0;}
										}
		&[data-evo-button-icons="both"].small
										{
										padding-left: rem-calc(14);
										padding-right: rem-calc(14);
										}
		&[data-evo-button-icons="left"].small
										{padding-left: rem-calc(14);}
		&[data-evo-button-icons="right"].small
										{padding-right: rem-calc(14);}

		&[data-evo-button-icons="left"].small.expand
										{
										padding-left: rem-calc(14);
										padding-right: rem-calc(28);
										}
		&[data-evo-button-icons="right"].small.expand
										{
										padding-left: rem-calc(28);
										padding-right: rem-calc(14);
										}

		&[data-evo-button-icons="both"].large,
		&[data-evo-button-icons="left"].large,
		&[data-evo-button-icons="right"].large
										{
			[class^="evo-icon-"]			{top: rem-calc(3);}
			.evo-icon-position-left			{margin-right: rem-calc(9);}
			.evo-icon-position-right		{margin-left: rem-calc(9);}
			.evo-button-text				{top: 0;}
										}
		&[data-evo-button-icons="both"].large
										{
										padding-left: rem-calc(18);
										padding-right: rem-calc(18);
										}
		&[data-evo-button-icons="left"].large
										{padding-left: rem-calc(18);}
		&[data-evo-button-icons="right"].large
										{padding-right: rem-calc(18);}

		&[data-evo-button-icons="left"].large.expand
										{
										padding-left: rem-calc(18);
										padding-right: rem-calc(36);
										}
		&[data-evo-button-icons="right"].large.expand
										{
										padding-left: rem-calc(36);
										padding-right: rem-calc(18);
										}
									}

		// BUTTON GROUPS - STACKED
		.button-group.radius.stack>* .evo-button
									{
									border-top-color: $evo-button-group-stacked-border-color;
									}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif