---
title: "Social Media Badges"
---

<!-- SOCIAL MEDIA BADGES - BEGINS -->
	<div class="evo-social-media-badges-ctn">
		{{> icon tagname="a" class="evo-icon-facebook2 evo-icon-size-medium" href="#/" icon-title="Facebook" aria-label="Facebook"}}
		{{> icon tagname="a" class="evo-icon-twitter2 evo-icon-size-medium" href="#/" icon-title="Twitter" aria-label="Twitter"}}
		{{> icon tagname="a" class="evo-icon-tumblr2 evo-icon-size-medium" href="#/" icon-title="Tumblr" aria-label="Tumblr"}}
		{{> icon tagname="a" class="evo-icon-linkedin evo-icon-size-medium" href="#/" icon-title="LinkedIn" aria-label="LinkedIn"}}
	</div>
<!-- SOCIAL MEDIA BADGES - ENDS -->