---
title: "Social Media Badges"
---

<!-- SOCIAL MEDIA BADGES COMPONENT - BEGINS -->
	<div class="evo-social-media-badges-ctn">
		<a class="evo-icon-facebook2 evo-icon-size-medium" href="javascript:;" title="Facebook" aria-label="Facebook"></a>
		<a class="evo-icon-twitter2 evo-icon-size-medium" href="javascript:;" title="Twitter" aria-label="Twitter"></a>
		<a class="evo-icon-tumblr2 evo-icon-size-medium" href="javascript:;" title="Tumblr" aria-label="Tumblr"></a>
		<a class="evo-icon-linkedin evo-icon-size-medium" href="javascript:;" title="LinkedIn" aria-label="LinkedIn"></a>
	</div>
<!-- SOCIAL MEDIA BADGES COMPONENT - ENDS -->