<!-- INPUT NUMERIC MASK HELPER - BEGINS -->
<form class="" id="" name="" method="" action="" title="" data-abide>
	<fieldset>
		<div class="row">
			<div class="small-12 columns">
				<label for="number">
					Number Input Type
					{{> input id="number" type="number" placeholder="Enter a number" input-title="Number" input-numeric-mask="true" required="true"~}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="tel">
					Telephone Input Type
					{{> input id="tel" type="tel" placeholder="Enter a telephone #" input-title="Telephone" input-autocomplete="on" input-numeric-mask="true" required="true"~}}
				</label>
				{{> error-text}}
			</div>
		</div>
	</fieldset>
</form>
<!-- INPUT NUMERIC MASK HELPER - ENDS -->