<!-- HORIZONTAL CENTER - BEGINS -->
<div class="callout evo-callout evo-callout-dimensions-demo">
	<section>
		<p class="float-center">The div that contains this text is centered horizontally within this box.</p>
	</section>
</div>
<div class="callout evo-callout evo-callout-dimensions-demo">
	<section>
		<img class="float-center" src="{{assets}}/images/placeholders/placeholder_square.png">
	</section>
</div>
<!-- HORIZONTAL CENTER - ENDS -->