<!-- SELECT ALL CHECKBOXES TABLE HELPER - BEGINS -->
<div class="evo-table-small-mediaquery">
	<table class="evo-table evo-table-hover" data-evo-data-table="evo-data-table-select-all-checkboxes-example" width="100%" cellpadding="0" cellspacing="0" border="0" title="" summary="" role="grid">
		<thead>
			<tr>
				<th scope="column" class="evo-table-form-element-cell"><input data-evo-checkboxes-select-all type="checkbox" tabindex="" title="" /></th>
				<th scope="column">Rendering engine</th>
				<th scope="column">Browser</th>
				<th scope="column">Platform(s)</th>
				<th scope="column">Engine Version</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="evo-table-form-element-cell"><input data-evo-checkboxes-select-all-item type="checkbox" tabindex="" title="" /></td>
				<td>Gecko</td>
				<td>Camino 1.0</td>
				<td>OSX.2+</td>
				<td>1.8</td>
			</tr>
			<tr>
				<td class="evo-table-form-element-cell"><input data-evo-checkboxes-select-all-item type="checkbox" tabindex="" title="" /></td>
				<td>Gecko</td>
				<td>Camino 1.5</td>
				<td>OSX.3+</td>
				<td>1.8</td>
			</tr>
			<tr>
				<td class="evo-table-form-element-cell"><input data-evo-checkboxes-select-all-item type="checkbox" tabindex="" title="" /></td>
				<td>Gecko</td>
				<td>Netscape 7.2</td>
				<td>Win 95+ / Mac OS 8.6-9.2</td>
				<td>1.7</td>
			</tr>
			<tr>
				<td class="evo-table-form-element-cell"><input data-evo-checkboxes-select-all-item type="checkbox" tabindex="" title="" /></td>
				<td>Gecko</td>
				<td>Netscape Browser 8</td>
				<td>Win 98SE+</td>
				<td>1.7</td>
			</tr>
			<tr>
				<td class="evo-table-form-element-cell"><input data-evo-checkboxes-select-all-item type="checkbox" tabindex="" title="" /></td>
				<td>Gecko</td>
				<td>Netscape Navigator 9</td>
				<td>Win 98+ / OSX.2+</td>
				<td>1.8</td>
			</tr>
		</tbody>
	</table>
</div>
<!-- SELECT ALL CHECKBOXES TABLE HELPER - ENDS -->