<!-- TOGGLE ELEMENT HELPER - BEGINS -->
<div class="panel evo-box">
	<div class="evo-box-hdr">
		<h6><a href="javascript:;" data-evo-toggle-element="box-body-toggle-demo1">Click header 1 to toggle element</a></h6>
	</div>
	<div class="evo-box-bdy hide" data-evo-toggle-element-item="box-body-toggle-demo1">
		<p class="evo-no-margin-bottom">
			Toggled element content.
		</p>
	</div>
</div>

<div class="panel evo-box">
	<div class="evo-box-hdr">
		<h6><a href="javascript:;" data-evo-toggle-element="box-body-toggle-demo2">Click header 2 to toggle element</a></h6>
	</div>
	<div class="evo-box-bdy hide" data-evo-toggle-element-item="box-body-toggle-demo2">
		<p class="evo-no-margin-bottom">
			Toggled element content.
		</p>
	</div>
</div>
<!-- TOGGLE ELEMENT HELPER - ENDS -->