<!-- ORIENTATION DETECTION - BEGINS -->
<div class="callout evo-callout">
	<section>
		<strong class="show-for-landscape">You are in landscape orientation.</strong>
		<strong class="show-for-portrait">You are in portrait orientation.</strong>
	</section>
</div>
<!-- ORIENTATION DETECTION - ENDS -->