<!-- RADIUS HELPER - BEGINS -->
{{> alert-box type="warning" shape="radius" text="Attention message text would go here&hellip;"}}
<div class="progress radius"> 
	<span class="meter" style="width:70%;"></span> 
</div>
{{> button shape="radius" text="Button"}}
<span class="label radius">Label</span>
<!-- RADIUS HELPER - ENDS -->