<!-- TEXT ALIGN HELPERS - BEGINS -->
<p class="text-left">
	<strong>This text is left aligned.</strong> {{lorem count=5}}
</p> 
<p class="text-right">
	<strong>This text is right aligned.</strong> {{lorem count=5}}
<p class="text-center">
	<strong>This text is center aligned.</strong> {{lorem count=5}}
<p class="text-justify">
	<strong>This text is justified.</strong> {{lorem count=5}}
</p>
<!-- TEXT ALIGN HELPERS - ENDS -->