<!-- FLOAT HELPERS - BEGINS -->
<div class="panel evo-box"> 
	<div class="clearfix evo-box-bdy">
		<a href="#/" class="button radius right evo-button" id="" tabindex="" title="">Float Right</a>
		<a href="#/" class="button radius left evo-button" id="" tabindex="" title="">Float Left</a>
	</div>
</div>
<!-- FLOAT HELPERS - ENDS -->