<!-- COLOR HELPERS - DATA ATTRIBUTES - BEGINS -->
<div class="panel clearfix evo-box"> 
	<div class="evo-box-bdy">
		<p data-evo-font-color="sapphire-medium"><strong>Font color attribute.</strong></p>
	</div>
</div>
<div class="panel clearfix evo-box" data-evo-border-color="amethyst-bright"> 
	<div class="evo-box-bdy">
		<p><strong>Border color attribute.</strong></p>
	</div>
</div>
<div class="panel clearfix evo-box" data-evo-background-color="emerald-light"> 
	<div class="evo-box-bdy">
		<p><strong>Background color attribute.</strong></p>
	</div>
</div>
<!-- COLOR HELPERS - DATA ATTRIBUTES - ENDS -->