<!-- CENTER HORIZONTAL HELPER - BEGINS -->
<div class="panel evo-box evo-center-container-dimensions-demo">
	<div class="evo-box-bdy">
		{{> type-paragraph class="evo-center-block" text="The div that contains this text is centered horizontally within this box."}}
	</div>
</div>
<div class="panel evo-box evo-center-container-dimensions-demo">
	<div class="evo-box-bdy">
		<img class="evo-center-block" src="/assets/images/placeholders/placeholder_square.png">
	</div>
</div>
<!-- CENTER HORIZONTAL HELPER - ENDS -->