<!-- IMAGE ALIGN HELPERS - BEGINS -->
<p>
	<img class="evo-image-left" src="assets/images/placeholders/placeholder_square.png">
	<strong>This image is left aligned.</strong> {{lorem count=5}}
</p> 
<p>
	<img class="evo-image-right" src="assets/images/placeholders/placeholder_square.png">
	<strong>This image is right aligned.</strong> {{lorem count=5}}
</p>
<!-- IMAGE ALIGN HELPERS - ENDS -->