<!-- CENTER VERTICAL HELPER - BEGINS -->
<div class="panel evo-box evo-center-container-dimensions-demo">
	<div class="evo-box-bdy evo-center-block-vertical">
		{{> type-paragraph class="evo-center-block-vertical-element" text="The div that contains this text is centered vertically within this box."}}
	</div>
</div>
<div class="panel evo-box evo-center-container-dimensions-demo">
	<div class="evo-box-bdy evo-center-block-vertical">
		<div class="evo-center-block-vertical-element">
			<img src="/assets/images/placeholders/placeholder_square.png">
		</div>
	</div>
</div>
<!-- CENTER VERTICAL HELPER - ENDS -->