<!-- COLOR HELPERS - SPECIFIC USE - BEGINS -->
<span class="label alert evo-label">Alert</span>
<span class="label warning evo-label">Warning</span>
<span class="label success evo-label">Success</span>
<span class="label info evo-label">Info</span>
<!-- COLOR HELPERS - SPECIFIC USE - ENDS -->