<!-- ROUND HELPER - BEGINS -->
{{> alert-box type="warning" shape="round" text="Attention message text would go here&hellip;"}}
<div class="progress round"> 
	<span class="meter" style="width:70%;"></span> 
</div>
{{> button shape="round" text="Button"}}
<span class="label round">Label</span> 
<!-- ROUND HELPER - ENDS -->