<!-- VERTICAL MIDDLE - BEGINS -->
<div class="callout evo-callout evo-callout-dimensions-demo">
	<section class="evo-vertical-middle">
		<p class="evo-vertical-middle-element">The div that contains this text is centered vertically within this box.</p>
	</section>
</div>
<div class="callout evo-callout evo-callout-dimensions-demo">
	<section class="evo-vertical-middle">
		<div class="evo-vertical-middle-element">
			<img src="/assets/images/placeholders/placeholder_square.png">
		</div>
	</section>
</div>
<!-- VERTICAL MIDDLE - ENDS -->