<!-- VISIBILITY HIDDEN HELPERS - BEGINS -->
<div class="panel evo-box">
	<div class="evo-box-bdy">
		<strong class="hidden-for-small-only">You are <em>not</em> on a small screen.</strong>
		<strong class="hidden-for-medium-up">You are <em>not</em> on a medium, large, xlarge, or xxlarge screen.</strong>
		<strong class="hidden-for-medium-only">You are <em>not</em> on a medium screen.</strong>
		<strong class="hidden-for-large-up">You are <em>not</em> on a large, xlarge, or xxlarge screen.</strong>
		<strong class="hidden-for-large-only">You are <em>not</em> on a large screen.</strong>
		<strong class="hidden-for-xlarge-up">You are <em>not</em> on an xlarge screen and up.</strong>
		<strong class="hidden-for-xlarge-only">You are <em>not</em> on an xlarge screen.</strong>
		<strong class="hidden-for-xxlarge-up">You are <em>not</em> on an xxlarge screen.</strong>
	</div>
</div>
<!-- VISIBILITY HIDDEN HELPERS - ENDS -->