<!-- SHOW FOR SCREEN READERS HELPER - BEGINS -->
<p class="show-for-sr">This text can only be read by a screen reader.</p>
<p>There's a line of text above this one, you just can't see it.</p>
<!-- SHOW FOR SCREEN READERS HELPER - ENDS -->