//-------------------------------------------------------------------------------------------
// Mercer Evolution - Color Helpers Partial
//-------------------------------------------------------------------------------------------

// SYSTEM COLOR HELPERS
.alert,
.success								{color: $white !important;}

@if $use-colors == true{

	// SYSTEM SPOT COLORS FOR ELEMENTS (FONT COLORS AND BACKGROUND COLORS)
	@each $color-name, $color in $system-color-palette
											{

		// CUSTOM SPOT FONT COLOR FOR TEXT AND LINKS
		[data-evo-font-color="#{$color-name}"]	{color: map-get($color, color) !important;}

		// CUSTOM SPOT BORDER COLOR FOR CONTAINERS AND BOXES
		[data-evo-border-color="#{$color-name}"]
												{border-color: map-get($color, color) !important;}

		// CUSTOM SPOT BACKGROUND COLOR FOR CONTAINERS AND BOXES
		[data-evo-background-color="#{$color-name}"]
												{background-color: map-get($color, color) !important;}
											}

	// CUSTOM SPOT COLORS FOR ELEMENTS (FONT COLORS AND BACKGROUND COLORS)
	@each $color-name, $color in $color-palette
											{

		// CUSTOM SPOT FONT COLOR FOR TEXT AND LINKS
		[data-evo-font-color="#{$color-name}"]	{color: map-get($color, color) !important;}

		// CUSTOM SPOT BORDER COLOR FOR CONTAINERS AND BOXES
		[data-evo-border-color="#{$color-name}"]
												{border-color: map-get($color, color) !important;}

		// CUSTOM SPOT BACKGROUND COLOR FOR CONTAINERS AND BOXES
		[data-evo-background-color="#{$color-name}"]
												{background-color: map-get($color, color) !important;}
											}

}//endif