//-------------------------------------------------------------------------------------------
// Mercer Evolution - Dropdowns Partial
//-------------------------------------------------------------------------------------------

//
// @variables
//


@if $use-dropdowns == true{

.evo-dropdowns			{
						@include box-shadow($evo-base-shadow-horizontal $evo-base-shadow-vertical $evo-base-shadow-blur $evo-base-shadow-spread $evo-base-shadow-color);
						@include border-radius($global-radius);
						}

}//endif