<!-- BLOCK GRID - BEGIN -->
<div class="row small-up-2 medium-up-3 large-up-5">
	<div class="columns">Item</div>
	<div class="columns">Item</div>
	<div class="columns">Item</div>
	<div class="columns">Item</div>
	<div class="columns">Item</div>
</div>
<!-- BLOCK GRID - END -->