<!-- BLOCK GRID - BASIC DEMO - BEGIN -->
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
</ul>
<!-- BLOCK GRID - BASIC DEMO - END -->