<!-- GRID - BASIC DEMO - BEGIN -->
<section class="row">
	<div class="small-12 columns">12</div>
</section>

<section class="row">
	<div class="small-1 columns">1</div>
	<div class="small-11 columns">11</div>
</section>

<section class="row">
	<div class="small-2 columns">2</div>
	<div class="small-10 columns">10</div>
</section>

<section class="row">
	<div class="small-3 columns">3</div>
	<div class="small-9 columns">9</div>
</section>

<section class="row">
	<div class="small-4 columns">4</div>
	<div class="small-8 columns">8</div>
</section>

<section class="row">
	<div class="small-5 columns">5</div>
	<div class="small-7 columns">7</div>
</section>

<section class="row">
	<div class="small-6 columns">6</div>
	<div class="small-6 columns">6</div>
</section>

<section class="row">
	<div class="small-7 columns">7</div>
	<div class="small-5 columns">5</div>
</section>

<section class="row">
	<div class="small-8 columns">8</div>
	<div class="small-4 columns">4</div>
</section>

<section class="row">
	<div class="small-9 columns">9</div>
	<div class="small-3 columns">3</div>
</section>

<section class="row">
	<div class="small-10 columns">10</div>
	<div class="small-2 columns">2</div>
</section>

<section class="row">
	<div class="small-11 columns">11</div>
	<div class="small-1 columns">1</div>
</section>
<!-- GRID - BASIC DEMO - END -->