<!-- GRID - 3 COLUMN - 25%/50%/25% - BEGINS -->
<section class="row">
	<div class="small-3 columns">25%</div>
	<div class="small-6 columns">50%</div>
	<div class="small-3 columns">25%</div>
</section>
<!-- GRID - 3 COLUMN - 25%/50%/25% - ENDS -->