<!-- GRID - 3 COLUMN - 33%/33%/33% - BEGINS -->
<section class="row">
	<div class="small-4 columns">33%</div>
	<div class="small-4 columns">33%</div>
	<div class="small-4 columns">33%</div>
</section>
<!-- GRID - 3 COLUMN - 33%/33%/33% - ENDS -->