/*--------------------------------------------------------------------------------------------
{{ meta_project }} v{{ meta_version }} - Application CSS
DATE: {{ meta_date }}
AUTHOR: {{ meta_author }}
URL: {{ meta_url }}
--------------------------------------------------------------------------------------------*/

@charset 'utf-8';

// ===========================================================================================
// CORE IMPORTS
// ===========================================================================================

@import	"core/global";
@import	"core/foundation_settings";
@import	"core/settings";


// ===========================================================================================
// APPLICATION IMPORTS
// ===========================================================================================

@import	"app/settings";
@import	"app/variables";
@import	"app/icons";


/*=== STYLES ===============================================================================*/

/*--- SITE GLOBAL --------------------------------------------------------------------------*/



/*--- KITCHEN SINK -------------------------------------------------------------------------*/

// GRID DEMO
.evo-grid-demo							{
	.row									{
											border: 1px solid $onyx-dark-10;
											margin-bottom: $evo-base-margin;
											margin-left: 0 !important;
											margin-right: 0 !important;
											}
	.columns								{background-color: $onyx-dark-2;}
	.columns:nth-child(2n)					{background-color: $onyx-dark-6;}

	[class*="evo-icon-"]					{top: 3px;}

	[class*="small-block-grid-"]			{
		li										{
												background-color: $onyx-dark-2;
												border-top: 1px solid $onyx-dark-10;
												border-right: 1px solid $onyx-dark-10;
												border-bottom: 1px solid $onyx-dark-10;
												padding-top: rem-calc($evo-base-padding);
												text-align: center;
			&:nth-child(2n)							{background-color: $onyx-dark-6;}
			&:first-child							{border-left: 1px solid $onyx-dark-10;}
												}
											}
										}

// CENTER HORIZONTALLY AND VERTICALLY DEMO
.evo-center-container-dimensions-demo
										{
										height: rem-calc(200);
										width: 100%;
	p										{
											width: rem-calc(200) !important;
											}
										}

// HYPHEN DEMO
.evo-hyphen-demo						{@include hyphens(auto);}

// WORD BREAK DEMO
.evo-word-break-container-dimensions-demo
										{
										height: rem-calc(50);
										width: rem-calc(200);
										}

/*--- STYLES SECTION HEADER ----------------------------------------------------------------*/



// ===========================================================================================
// PATTERN IMPORTS
// ===========================================================================================

// CONVERSATIONAL FORM
@import	"../../patterns/organisms/conversational-form/conversational-form.scss";

// FAT FOOTER
@import	"../../patterns/organisms/fat-footer/fat-footer.scss";

// ITEM SELECTION PANEL
@import	"../../patterns/organisms/item-selection-panel/item-selection-panel.scss";

// PRICING TABLE
@import	"../../patterns/organisms/pricing-table/pricing-table.scss";

// SHOWCASE PANEL
@import	"../../patterns/organisms/showcase-panel/showcase-panel.scss";

// SOCIAL MEDIA BADGES
@import	"../../patterns/organisms/social-media-badges/social-media-badges.scss";

// STEPPER
@import	"../../patterns/organisms/stepper/stepper.scss";

// THIN FOOTER
@import	"../../patterns/organisms/thin-footer/thin-footer.scss";