/*------------------------------------------------------------------------------------------
{{ meta_project }} v{{ meta_version }} - Application IE CSS
DATE: {{ meta_date }}
AUTHOR: {{ meta_author }}
URL: {{ meta_url }}
-------------------------------------------------------------------------------------------*/

@charset 'utf-8';

// ==========================================================================================
// CORE SASS IMPORTS
// ==========================================================================================

@import	"core/global";
@import	"core/foundation_settings";
@import	"core/settings";


// ==========================================================================================
// APPLICATION IMPORTS
// ==========================================================================================

@import	"app/settings";
@import	"app/variables";


/*=== IE STYLES ===========================================================================*/

// ==========================================================================================
// IE9 FIXES 
// ==========================================================================================
.ie9						{

	

							}