<!-- DROPDOWNS - BEGINS -->
<a data-dropdown="dropC" data-options="align:top" aria-controls="dropC" aria-expanded="false">Top</a>
<ul id="dropC" class="f-dropdown tiny evo-dropdowns" data-dropdown-content aria-hidden="true" tabindex="-1">
	<li><a href="#/">This is a link</a></li>
	<li><a href="#/">This is another</a></li>
	<li><a href="#/">Yet another</a></li>
</ul>
<a data-dropdown="dropB" data-options="align:right" aria-controls="dropB" aria-expanded="false">Right</a>
<ul id="dropB" class="f-dropdown tiny evo-dropdowns" data-dropdown-content aria-hidden="true" tabindex="-1">
	<li><a href="#/">This is a link</a></li>
	<li><a href="#/">This is another</a></li>
	<li><a href="#/">Yet another</a></li>
</ul>
<a data-dropdown="dropD" data-options="align:bottom" aria-controls="dropD" aria-expanded="false">Bottom</a>
<ul id="dropD" class="f-dropdown tiny evo-dropdowns" data-dropdown-content aria-hidden="true" tabindex="-1">
	<li><a href="#/">This is a link</a></li>
	<li><a href="#/">This is another</a></li>
	<li><a href="#/">Yet another</a></li>
</ul>
<a data-dropdown="dropA" data-options="align:left" aria-controls="dropA" aria-expanded="false">Left</a>
<ul id="dropA" class="f-dropdown tiny evo-dropdowns" data-dropdown-content aria-hidden="true" tabindex="-1">
	<li><a href="#/">This is a link</a></li>
	<li><a href="#/">This is another</a></li>
	<li><a href="#/">Yet another</a></li>
</ul>
<!-- DROPDOWNS - ENDS -->