<div class="row evo-spacer-margin-top-large">
	<div class="medium-3 columns">
		<div class="evo-spacer-margin-bottom-x-large">
			{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
			<p>{{ lorem count="10"}}</p>
		</div>
{{# markdown}}
* [Other links 1](#)
* [Other links 2](#)
* [Other links 3](#)
* [Other links 4](#)
* [Other links 5](#)
* [Other links 6](#)
{{/ markdown}}
	</div>
	<div class="medium-9 columns">
		<div class="evo-spacer-margin-bottom-xxx-large">
			{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
			<p>{{ lorem count=4}}</p>
		</div>

	<!-- BLOCK GRID - BASIC DEMO - BEGIN -->
		<div class="row small-up-1 medium-up-3 large-up-4">
			<div class="columns">
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</div>
			<div class="columns">
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</div>
			<div class="columns">
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</div>
			<div class="columns">
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</div>
		</div>
	<!-- BLOCK GRID - BASIC DEMO - END -->

	</div>
</div>