<div class="evo-contain-to-grid evo-spacer-margin-top-large">
	<div class="medium-6 columns">
		<div class="evo-spacer-margin-bottom-xxx-large">
			{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
			<p>Adipisicing nisi consectetur aute aute. Labore irure deserunt excepteur commodo laboris in qui. Commodo ad fugiat ad officia culpa laborum dolore culpa. In aliquip laborum laboris ex officia.</p>
		</div>

	<!-- BLOCK GRID - BASIC DEMO - BEGIN -->
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
		</ul>
	<!-- BLOCK GRID - BASIC DEMO - END -->
	
	</div>
	<div class="medium-6 columns">
		<div class="evo-spacer-margin-bottom-xxx-large">
			{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
			<p>Adipisicing nisi consectetur aute aute. Labore irure deserunt excepteur commodo laboris in qui. Commodo ad fugiat ad officia culpa laborum dolore culpa. In aliquip laborum laboris ex officia.</p>
		</div>

	<!-- BLOCK GRID - BASIC DEMO - BEGIN -->
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
			<li>
				<div class="evo-margin-bottom">
					{{> image src="placeholders/placeholder_rectangle_wide.png" width="100%" height="150" class="evo-margin-bottom"}}
					General text for you to read and figure out if you want to read more.
				</div>

				{{> button text="Click me"}}
			</li>
		</ul>
	<!-- BLOCK GRID - BASIC DEMO - END -->

	</div>
</div>