<!-- PROGRESS BAR - METER COLOR - BEGINS -->
<div class="progress evo-progress">
	<span class="meter" style="width: 50%" data-evo-background-color="sapphire-dark"></span>
</div>
<div class="progress alert evo-progress">
	<span class="meter" style="width: 25%"></span>
</div>
<div class="progress success evo-progress">
	<span class="meter" style="width: 75%"></span>
</div>
<!-- PROGRESS BAR - METER COLOR - ENDS -->