<!-- PROGRESS BAR - WITH TEXT - BEGINS -->
<div class="progress evo-progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
	<div class="progress-meter" style="width: 50%">
		<p class="progress-meter-text">50%</p>
	</div>
</div>
<!-- PROGRESS BAR - WITH TEXT - ENDS -->