<!-- LABELS - COLORS - BEGINS -->
<span class="label evo-label" data-evo-font-color="amethyst-light">Font color attribute</span>
<span class="label evo-label" data-evo-background-color="amethyst-bright">Background color attribute</span>
<br><br>
<span class="label alert evo-label">Alert</span>
<span class="label success evo-label">Success</span>
<span class="label warning evo-label">Warning</span>
<!-- LABELS - COLORS - ENDS -->