<!-- LABELS - ICONS - BEGINS -->
<span class="label evo-label">
	{{> icon class="evo-icon-plus-circle"}}
	Custom
</span>
<span class="label alert evo-label">
	{{> icon class="evo-icon-notification2"}}
	Alert
</span>
<span class="label success evo-label">
	{{> icon class="evo-icon-checkmark-circle"}}
	Success
</span>
<span class="label warning evo-label">
	{{> icon class="evo-icon-warning2"}}
	Warning
</span>
<!-- LABELS - ICONS - ENDS -->