<!-- STEPPER - BEGINS -->
	<div class="evo-stepper">
		<span class="evo-stepper-item" data-evo-stepper-state="complete"></span>
		<span class="evo-stepper-item" data-evo-stepper-state="complete"></span>
		<span class="evo-stepper-item" data-evo-stepper-state="complete"></span>
		<span class="evo-stepper-item" data-evo-stepper-state="complete"></span>
		<span class="evo-stepper-item" data-evo-stepper-state="active"></span>
		<span class="evo-stepper-item"></span>
		<span class="evo-stepper-item"></span>
		<span class="evo-stepper-item"></span>
		<span class="evo-stepper-item"></span>
		<span class="evo-stepper-item"></span>
	</div>
<!-- STEPPER - ENDS -->