---
title: "Home"
---

<div class="small-12 columns">

{{# markdown }}
# {{ title }}

This boilerplate template is for the project homepage.

{{#repeat count=5}}

{{lorem count=5}}

{{/repeat}}
{{/ markdown }}

</div>