---
title: "Welcome to Evolution <%= package.version %>"
---

<div class="evo-contain-to-grid evo-spacer-margin-top-large evo-spacer-margin-bottom-large">
	<div class="small-12 columns">

		<div class="row evo-spacer-margin-top-xxx-large evo-spacer-margin-bottom-xxx-large">
			<div class="small-12 columns text-center">
				<h2>{{ title }}</h2>
				<p>This boilerplate is a starter project using <a href="https://evolution.mercer.com/" target="_blank">Evolution</a>. Use the resources below to learn more about using Evolution and it's benefits.</p>
			</div>
		</div>

		<hr>
		
		<div class="row evo-spacer-margin-top-xxx-large evo-spacer-margin-bottom-xxx-large">
			<div class="medium-4 columns text-center">
				<i class="evo-icon-file-text2 evo-icon-size-large evo-margin-bottom"></i>
				<p><a href="https://evolution.mercer.com/pattern-library/" target="_blank">Evolution Documentation</a></p>
				<p>Everything you need to know about using and developing with Evolution.</p>
			</div>
			<div class="medium-4 columns text-center">
				<i class="evo-icon-github evo-icon-size-large evo-margin-bottom"></i>
				<p><a href="https://github.com/uxuimercergroup" target="_blank">Evolution on Github</a></p>
				<p>Latest code, issue reports, feature requests and more.</p>
			</div>
			<div class="medium-4 columns text-center">
				<i class="evo-icon-cog evo-icon-size-large evo-margin-bottom"></i>
				<p><a href="https://evolution.mercer.com/boilerplates.html" target="_blank">Evolution Boilerplates</a><p>
				<p>Discover other Evolution boilerplates to install or download.</p>
			</div>
		</div>
		
		<hr>

		<div class="row evo-spacer-margin-top-xxx-large evo-spacer-margin-bottom-x-large">
			<div class="medium-4 columns text-center">
				<i class="evo-icon-files-empty evo-icon-size-large evo-margin-bottom"></i>
				<p>Starter Pages</p>
				<ul class="no-bullet evo-spacer-margin-bottom-xx-large">
					<li><a href="home.html">Home</a></li>
					<li><a href="template.html">Subpage</a></li>
				</ul>
			</div>
			<div class="medium-4 columns text-center">
				<i class="evo-icon-stack evo-icon-size-large evo-margin-bottom"></i>
				<p>Page Templates</p>
				<ul class="no-bullet evo-spacer-margin-bottom-xx-large">
					<li><a href="/page-templates/full-width.html">One Column - Full Width</a></li>
					<li><a href="/page-templates/grid-width.html">One Column - Grid Width</a></li>
					<li><a href="/page-templates/25-75.html">Two Column - 25%/75%</a></li>
					<li><a href="/page-templates/75-25.html">Two Column - 75%/25%</a></li>
					<li><a href="/page-templates/33-66.html">Two Column - 33%/66%</a></li>
					<li><a href="/page-templates/66-33.html">Two Column - 66%/33%</a></li>
					<li><a href="/page-templates/50-50.html">Two Column - 50%/50%</a></li>
					<li><a href="/page-templates/25-50-25.html">Three Column - 25%/50%/25%</a></li>
					<li><a href="/page-templates/33-33-33.html">Three Column - 33%/33%/33%</a></li>
					<li><a href="/page-templates/25-25-25-25.html">Four Column - 25%/25%/25%/25%</a></li>
				</ul>
			</div>
			<div class="medium-4 columns text-center">
				<i class="evo-icon-wrench evo-icon-size-large evo-margin-bottom"></i>
				<p>Development Tools</p>
				<ul class="no-bullet evo-spacer-margin-bottom-xx-large">
					<li><a href="kitchen-sink.html">Kitchen Sink</a></li>
					<li><a href="atoms.html">Atoms</a></li>
					<li><a href="molecules.html">Molecules</a></li>
					<li><a href="organisms.html">Organisms</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>