---
title: "Template"
---

<div class="evo-contain-to-grid evo-spacer-margin-top-large evo-spacer-margin-bottom-large">
	<div class="small-12 columns">

{{# markdown }}
## {{ title }}
***
{{/ markdown }}

		<div class="row">
			<div class="medium-8 columns">

{{# markdown }}
This boilerplate template is for the project homepage.

{{#repeat count=5}}

{{lorem count=5}}

{{/repeat}}
{{/ markdown }}

			</div>
			<div class="medium-4 columns">

{{# markdown }}
{{#repeat count=3}}

{{lorem count=5}}

{{/repeat}}
{{/ markdown }}

			</div>
		</div>

	</div>
</div>