---
title: "Template"
---

<div class="small-12 columns">

{{# markdown }}
# {{ title }}
{{/ markdown }}

	<div class="row">
		<div class="medium-8 columns">

{{# markdown }}
This boilerplate template is for the project homepage.

{{#repeat count=5}}

{{lorem count=5}}

{{/repeat}}
{{/ markdown }}

		</div>
		<div class="medium-4 columns">

{{# markdown }}
{{#repeat count=3}}

{{lorem count=5}}

{{/repeat}}
{{/ markdown }}

		</div>
	</div>

</div>