---
title: "Template"
---

<div class="small-12 columns">

	<h1>{{ title }}</h1>
	
	<div class="row">
		<div class="medium-8 columns">

			<p>This boilerplate template is for general pages.</p>

		</div>
		<div class="medium-4 columns">

			<p>This boilerplate template is for general pages.</p>

		</div>
	</div>

</div>