//-------------------------------------------------------------------------------------------
// Mercer Evolution - Accordion Partial
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-accordion-border-size: 1px !default;
$evo-accordion-border-style: solid !default;
$evo-accordion-border-color: $onyx-dark-30 !default;
$evo-accordion-navigation-margin-bottom: rem-calc(10) !default;
$evo-accordion-navigation-font-family: $evo-font-medium-stack !default;
$evo-accordion-icon-font-family: $evo-icon-font-stack !default;
$evo-accordion-icon-open-icon: '\ed5c' !default;
$evo-accordion-icon-close-icon: '\ed5d' !default;
$evo-accordion-icon-font-color: $accordion-item-color !default;


@if $use-accordion == true{

	// ACCORDION
	.evo-accordion			{
							border: 0;
		.accordion-item			{
								@include border-radius($global-radius);
								border: $evo-accordion-border-size $evo-accordion-border-style $evo-accordion-border-color;
								margin-bottom: $evo-accordion-navigation-margin-bottom !important;
			.accordion-title		{
									border: 0;
									font-family: $evo-accordion-navigation-font-family;
									font-size: $global-font-size;
									}
			.accordion-content		{
									border: 0;
									padding-top: 0;
									}
								}
							}

	// ACCORDION WITH ICONS
	.evo-accordion-icons	{
		.accordion-item			{
			> a:before 				{
									font-family: $evo-accordion-icon-font-family;
									content: $evo-accordion-icon-open-icon;
									padding-right: rem-calc(10);
									float: left;
									font-size: rem-calc(16);
									color: $evo-accordion-icon-font-color;
									position: relative;
									top: rem-calc(-1);
									}
			a[aria-expanded="true"]:before
									{
									content: $evo-accordion-icon-close-icon;
									}
								}
							}

}//endif