//-------------------------------------------------------------------------------------------
// Mercer Evolution - Badges Partial
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-badge-font-color: $white !default;
$evo-badge-border-radius: rem-calc(1000) !default;
$evo-badge-small-font-size: rem-calc(12) !default;
$evo-badge-medium-font-size: rem-calc(14) !default;
$evo-badge-large-font-size: rem-calc(16) !default;


@if $use-badges == true{

	// BADGES
	.evo-badge		{
					@include border-radius($evo-badge-border-radius);
		[class*="evo-icon-"]
						{
						color: $evo-badge-font-color;
						font-size: inherit;
						margin: 0;
						top: 1px;
						}


		// BADGE SIZE HELPERS
		// There are four badge sizes: small, medium, large, x-large. The default size of badges is the small size.
		&[data-evo-badge-size="small"]
						{
						font-size: $evo-badge-small-font-size;
						}
		&[data-evo-badge-size="medium"]
						{
						font-size: $evo-badge-medium-font-size;
						}
		&[data-evo-badge-size="large"]
						{
						font-size: $evo-badge-large-font-size;
						}
					}

}//endif