//-------------------------------------------------------------------------------------------
// Mercer Evolution - Dropdown Buttons Partial
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-dropdown-button-icon-font-family: $evo-icon-font-stack !default;
$evo-dropdown-button-icon-size: rem-calc(16) !default;
$evo-dropdown-button-icon: '\edc6' !default;


@if $use-dropdown-buttons == true{

	// DROPDOWN BUTTONS
	.evo-dropdown-button
					{
		&:after			{
						border: 0 !important;
						font-size: $evo-dropdown-button-icon-size;
						height: $evo-dropdown-button-icon-size !important;
						width: $evo-dropdown-button-icon-size !important;
						font-family: $evo-dropdown-button-icon-font-family;
						content: $evo-dropdown-button-icon !important;
						}
					}

}//endif