//-------------------------------------------------------------------------------------------
// Mercer Evolution - Pagination Partial
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-pagination-icon-font-family: $evo-icon-font-stack !default;
$evo-pagination-icon-font-size: rem-calc(16) !default;
$evo-pagination-icon-position-top: 0 !default;
$evo-pagination-icon-padding: rem-calc(16) !default;
$evo-pagination-icon-previous: '\edc7' !default;
$evo-pagination-icon-previous-position-left: 0 !default;
$evo-pagination-icon-next: '\edc5' !default;
$evo-pagination-icon-next-position-right: 0 !default;


@if $use-pagination == true{

	// PAGINATION
	.evo-pagination					{
		li								{
			a								{
											position: relative;
											text-decoration: none;
											}
			&.previous,
			&.next							{
				a:before,
				a:after							{
												position: absolute;
												font-family: $evo-pagination-icon-font-family;
												font-size: $evo-pagination-icon-font-size;
												top: $evo-pagination-icon-position-top;
												}
											}
			&.previous						{
				a								{
												padding-left: $evo-pagination-icon-padding;
					&:before						{
													content: $evo-pagination-icon-previous;
													left: $evo-pagination-icon-previous-position-left;
													}
												}
											}
			&.next							{
				a								{
												padding-right: $evo-pagination-icon-padding;
					&:after							{
													content: $evo-pagination-icon-next;
													right: $evo-pagination-icon-next-position-right;
													}
												}
											}
										}
									}

	//=== MEDIA QUERIES =========================================================================

	// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
	@if $use-medium-up-mediaquery == true {
		
		@media #{$medium-up} {

			

		}
		
	}// endif

}//endif