//-------------------------------------------------------------------------------------------
// Mercer Evolution - Tooltip Partial
//-------------------------------------------------------------------------------------------

//
// @variables
//
$evo-tooltip-input-border-bottom-color: $medium-gray !default;
$evo-tooltip-input-border-bottom-color-hover: $onyx-dark-40 !default;


@if $use-tooltip == true{

	// TOOLTIP
	a.evo-tooltip,
	img.evo-tooltip  	{
						border-bottom: 0;
		&:hover,
		&:focus,
						{border-bottom: 0;}
						}									


	a.evo-tooltip  		{
		&:hover				{color: $anchor-color-hover;}
						}

	input[type="text"].evo-tooltip
						{
						border-bottom-style: solid;
						border-bottom-color: $evo-tooltip-input-border-bottom-color;
		&:hover				{border-bottom-color: $evo-tooltip-input-border-bottom-color-hover;}
						}
}