<!-- BOX WITH HEADER - BEGINS -->
	<div class="panel evo-box">
		<div class="evo-box-hdr">
			{{> type-header size="2" class="evo-hdr-rule" text="Header 2"}}

		</div>
		<div class="evo-box-bdy">
			<p class="evo-no-margin-bottom">{{lorem count=5}}</p>
		</div>
	</div>
<!-- BOX WITH HEADER - ENDS -->