<!-- BOX W/SHADOW - BEGINS -->
	<div class="panel evo-box evo-box-shadow">
		<div class="evo-box-hdr">
			{{> type-header size="2" class="evo-hdr-rule" text="Header 2"}}

		</div>
		<div class="evo-box-bdy">
			<p class="evo-no-margin-bottom">{{lorem count=5}}</p>
		</div>
		<div class="evo-box-ftr">
			<p class="evo-no-margin-bottom"><a href="#/">View details</a></p>
		</div>
	</div>
<!-- BOX W/SHADOW - ENDS -->