<!-- TOP BAR - BEGINS -->
<nav class="top-bar show-for-large evo-top-bar" role="navigation">
	
	<!-- TOP BAR TITLE - BEGINS -->
	<div class="top-bar-title">
		<a href="#/">Mercer <span>Evolution</span></a>
		<!-- <a href="#/"><img src="{{assets}}/images/core/corp-logos/mercer/mercer_logo_rgb_reverse.png" alt="Mercer - Make Tomorrow, Today" width="160"></a> -->
	</div>
	<!-- TOP BAR TITLE - ENDS -->

	<!-- TOP BAR CONTENT - BEGINS -->
	<div class="evo-top-bar-content">

		<!-- TOP BAR LEFT SECTION - BEGINS -->
		<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu>
				<li>
					<a href="javascript:;">Item 1</a>
					<ul class="dropdown menu" data-dropdown-menu>
						<li>
							<a href="#/">Sub-item 1</a>
						</li>
						<li>
							<a href="javascript:;">Sub-item 2</a>
							<ul class="dropdown menu" data-dropdown-menu>
								<li>
									<a href="#/">Sub-sub-item 1</a>
								</li>
								<li>
									<a href="#/">Sub-sub-item 2</a>
								</li>
								<li>
									<a href="#/">Sub-sub-item 3</a>
								</li>
								<li>
									<a href="#/">Sub-sub-item 4</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#/">Sub-item 3</a>
						</li>
						<li>
							<a href="#/">Sub-item 4</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#/">Item 2</a>
				</li>
			</ul>
		</div>
		<!-- TOP BAR LEFT SECTION - ENDS -->

		<!-- TOP BAR RIGHT SECTION - BEGINS -->
		<div class="top-bar-right">
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="active">
					<a href="#/">Item 3</a>
				</li>
				<li>
					<a href="javascript:;" class="evo-icon-user" aria-label="Open Menu">
						<span class="show-for-sr">Open Menu</span>
					</a>
					<ul class="dropdown menu" data-dropdown-menu>
						<li>
							<a href="#/">Sub-item 1</a>
						</li>
						<li>
							<a href="#/">Sub-item 2</a>
						</li>
						<li class="active">
							<a href="#/">Sub-item 3</a>
						</li>
						<li>
							<a href="#/">Sub-item 4</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- TOP BAR RIGHT SECTION - ENDS -->

	</div>
	<!-- TOP BAR CONTENT - ENDS -->

</nav>
<!-- TOP BAR - ENDS -->