<!-- TOP BAR CONTAINER - DIVIDERS - BEGINS -->
<div class="show-for-large-up">

	<!-- TOP BAR - BEGINS -->
	<nav class="top-bar evo-top-bar" data-topbar role="navigation">
		
		<!-- TOP BAR TITLE AREA - BEGINS -->
		<ul class="title-area">
			<li class="name">
				<h1><a href="#/">Evolution <span class="evo-top-bar-sub-name"></span></a></h1>
			</li>
		</ul>
		<!-- TOP BAR TITLE AREA - ENDS -->

		<!-- TOP BAR NAV SECTION - BEGINS -->
		<section class="top-bar-section">

			<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
			<ul class="right">
				<li class="divider"></li>
				<li class="active">
					<a href="#/">Browser Support</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#/">Reference</a>
				</li>
				<li class="divider"></li>
				<li class="has-dropdown">
					<a class="evo-icon-user"></a>
					<ul class="dropdown">
						<li>
							<a href="#/">View Profile</a>
						</li>
						<li class="divider"></li>
						<li class="active">
							<a href="#/">Change Language</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#/">User Administration</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#/">Log Out</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

			<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
			<ul class="left">
				<li class="divider"></li>
				<li class="has-dropdown">
					<a>Library</a>
					<ul class="dropdown">
						<li>
							<a href="#/">Item 1</a>
						</li>
						<li class="divider"></li>
						<li class="has-dropdown">
							<a>Item 2</a>
							<ul class="dropdown">
								<li>
									<a href="#/">Sub-item 1</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#/">Sub-item 2</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#/">Sub-item 3</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="#/">Sub-item 4</a>
								</li>
							</ul>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#/">Item 3</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#/">Item 4</a>
						</li>
					</ul>
				</li>
				<li class="divider"></li>
			</ul>
			<!-- TOP BAR LEFT NAV SECTION - ENDS -->

		</section>
		<!-- TOP BAR NAV SECTION - ENDS -->

	</nav>
	<!-- TOP BAR - ENDS -->

</div>
<!-- TOP BAR CONTAINER - DIVIDERS - ENDS -->