<!-- CAROUSEL - BEGINS -->
<div class="evo-carousel" data-evo-carousel="evo-carousel-example">
	<div class="evo-carousel-item">
		{{> image src="carousel/carousel_image1.jpg" alt="Carousel Image 1"}}
	</div>
	<div class="evo-carousel-item">
		{{> image src="carousel/carousel_image2.jpg" alt="Carousel Image 2"}}
	</div>
	<div class="evo-carousel-item">
		{{> image src="carousel/carousel_image3.jpg" alt="Carousel Image 3"}}
	</div>
</div>
<!-- CAROUSEL - ENDS -->