<!-- CAROUSEL (ORBIT) - CAPTION - BEGINS -->
<div class="orbit evo-orbit" role="region" aria-label="Carousel" data-orbit>
	<ul class="orbit-container">
		<button class="orbit-previous" aria-label="Previous Slide" tabindex="0">
			<span class="show-for-sr">Previous Slide</span>
			<span aria-hidden="true"><i class="evo-icon-arrow-left2" title="Previous"></i></span>
		</button>
		<button class="orbit-next" aria-label="Next Slide" tabindex="0">
			<span class="show-for-sr">Next Slide</span>
			<span aria-hidden="true"><i class="evo-icon-arrow-right2" title="Next"></i></span>
		</button>
		<li class="is-active orbit-slide">
			<img class="orbit-image" src="/assets/images/carousel/carousel_image1.jpg" alt="Carousel Image 1">
			<figcaption class="orbit-caption">Carousel image 1</figcaption>
		</li>
		<li class="orbit-slide">
			<img class="orbit-image" src="/assets/images/carousel/carousel_image2.jpg" alt="Carousel Image 2">
			<figcaption class="orbit-caption">Carousel image 2</figcaption>
		</li>
		<li class="orbit-slide">
			<img class="orbit-image" src="/assets/images/carousel/carousel_image3.jpg" alt="Carousel Image 3">
			<figcaption class="orbit-caption">Carousel image 3</figcaption>
		</li>
	</ul>
	<nav class="orbit-bullets">
		<button class="is-active" data-slide="0" aria-label="First Slide" tabindex="0">
			<span class="show-for-sr">First slide details.</span>
			<span class="show-for-sr">Current Slide</span>
		</button>
		<button data-slide="1" aria-label="Second Slide" tabindex="0">
			<span class="show-for-sr">Second slide details.</span>
		</button>
		<button data-slide="2" aria-label="Third Slide" tabindex="0">
			<span class="show-for-sr">Third slide details.</span>
		</button>
	</nav>
</div>
<!-- CAROUSEL (ORBIT) - CAPTION - ENDS -->