<div class="button-bar">
	<ul class="button-group radius">
	{{#repeat count=3}}
		<li>{{> button text="Primary a"}}</li>
	{{/repeat}}
	</ul>
	<ul class="button-group radius">
	{{#repeat count=3}}
		<li>{{> button text="Primary a"}}</li>
	{{/repeat}}
	</ul>
</div>