<div class="button-group evo-button-group secondary">
{{#repeat count=3}}
	{{> button text="Secondary a"}}
{{/repeat}}
</div>

<div class="button-group evo-button-group secondary">
{{#repeat count=3}}
	{{> button button-type="button" text="Secondary"}}
{{/repeat}}
</div>

<div class="button-group evo-button-group">
{{#repeat count=3}}
	{{> button text="Primary a"}}
{{/repeat}}
</div>

<div class="button-group evo-button-group">
{{#repeat count=3}}
	{{> button button-type="button" text="Primary"}}
{{/repeat}}
</div>