<!-- Expand Evenly - Up to even-8 -->
<ul class="button-group radius even-3">
{{#repeat count=3}}
	<li>{{> button secondary="true" text="Secondary a"}}</li>
{{/repeat}}
</ul>

<ul class="button-group radius even-4">
{{#repeat count=4}}
	<li>{{> button button-type="button" text="Primary"}}</li>
{{/repeat}}
</ul>