<ul class="button-group radius">
{{#repeat count=3}}
	<li>{{> button secondary="true" text="Secondary a"}}</li>
{{/repeat}}
</ul>

<ul class="button-group radius">
{{#repeat count=3}}
	<li>{{> button button-type="button" secondary="true" text="Secondary"}}</li>
{{/repeat}}
</ul>

<ul class="button-group radius">
{{#repeat count=3}}
	<li>{{> button text="Primary a"}}</li>
{{/repeat}}
</ul>

<ul class="button-group radius">
{{#repeat count=3}}
	<li>{{> button button-type="button" text="Primary"}}</li>
{{/repeat}}
</ul>