<!-- Stacked -->
<ul class="stack button-group radius">
{{#repeat count=3}}
	<li>{{> button secondary="true" text="Secondary a"}}</li>
{{/repeat}}
</ul>
<br>
<ul class="stack button-group radius">
{{#repeat count=3}}
	<li>{{> button button-type="button" text="Primary"}}</li>
{{/repeat}}
</ul>