<!-- Expand Evenly -->
<div class="expanded button-group secondary evo-button-group">
{{#repeat count=3}}
	{{> button text="Secondary a"}}
{{/repeat}}
</div>

<div class="expanded button-group evo-button-group">
{{#repeat count=4}}
	{{> button button-type="button" text="Primary"}}
{{/repeat}}
</div>

<div class="expanded button-group evo-button-group">
{{#repeat count=4}}
	{{> button button-type="button" hollow="true" text="Primary"}}
{{/repeat}}
</div>