<!-- FORM INLINE - HELP - BEGINS -->
<form data-abide novalidate>
	<fieldset class="row">
		<div class="small-5 columns">
			<label class="middle" for="input-example2">
				Input Label{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
			</label>
		</div>
		<div class="small-7 columns">				
			{{> input type="text" placeholder="Placeholder text" required="true" aria-describedby="input1"}}
			{{> error-text}}
			{{> help-text id="input1"}}
		</div>
	</fieldset>
	<fieldset class="row">
		<div class="small-5 columns">
			<label class="middle" for="select-example2">
				Select Box{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
			</label>
		</div>
		<div class="small-7 columns">
			{{> select required="true" aria-describedby="input2"}}
			{{> error-text}}
			{{> help-text id="input2"}}
		</div>
	</fieldset>
	<fieldset class="row">
		<div class="small-5 columns">
			{{> legend text="Choose Your Favorite"}}
		</div>
		<div class="small-7 columns">
			{{> input type="radio" input-name="color" input-value="red" id="red" checked="true"}}
			{{> label text="Red" for="red"}}

			{{> input type="radio" input-name="color" input-value="blue" id="blue"}}
			{{> label text="Blue" for="blue"}}
			{{> help-text}}
		</div>
	</fieldset>
	<fieldset class="row">
		<div class="small-5 columns">
			{{> legend text="Check These Out"}}
		</div>
		<div class="small-7 columns">				
			{{> input type="checkbox" id="checkbox1" checked="true"}}
			{{> label text="Checkbox 1" for="checkbox1"}}

			{{> input type="checkbox" id="checkbox2"}}
			{{> label text="Checkbox 2" for="checkbox2"}}
			{{> help-text}}
		</div>
	</fieldset>
	<fieldset class="row">
		<div class="small-5 columns">
			<label for="textarea-example2">
				Textarea Label{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
			</label>
		</div>
		<div class="small-7 columns">
			{{> textarea placeholder="Placeholder text" required="true" aria-describedby="input3"}}
			{{> error-text}}
			{{> help-text id="input3"}}
		</div>
	</fieldset>
	<fieldset class="row">
		<div class="small-12 columns evo-form-buttons">
			{{> button button-type="button" secondary="true" type="reset" button-title="Reset" value="Reset" text="Reset"}}
			{{> button button-type="button" button-title="Click for Validation" text="Click for Validation"}}
		</div>
	</fieldset>
</form>
<!-- FORM INLINE - HELP - ENDS -->