<!-- FORM - HTML5 - BEGINS -->
<form class="" id="" name="" method="" action="" title="" data-abide>
	<fieldset>
		<div class="row">
			<div class="small-12 columns">
				<label for="text-input">
					Basic Text Input
					{{> input type="text" placeholder="Name" input-title="Name" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="password">
					Password Input Type
					{{> input type="password" placeholder="Password" input-title="Password" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="number">
					Number Input Type
					{{> input type="number" placeholder="Enter a number" input-title="Number" input-numeric-mask="true" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="email">
					Email Input Type
					{{> input type="email" placeholder="Enter your email address" input-title="Email" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="url">
					URL Input Type
					{{> input type="url" placeholder="Enter a URL" input-title="URL" input-autocomplete="on" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="tel">
					Telephone Input Type
					{{> input type="tel" placeholder="Enter a telephone #" input-title="Telephone" input-autocomplete="on" input-numeric-mask="true" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="time">
					Time Input Type
					{{> input type="time" placeholder="Enter a time" input-title="Time" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="date">
					Date Input Type
					{{> input type="date" placeholder="Enter your date" input-title="Date" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="month">
					Month Input Type
					{{> input type="month" placeholder="Enter a month" input-title="Month" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="week">
					Week Input Type
					{{> input type="week" placeholder="Enter a week" input-title="Week" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="datetime-local">
					Datetime Local Input Type
					{{> input type="datetime-local" placeholder="Enter a datetime local" input-title="Datetime Local" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="color">
					Color Input Type
					{{> input type="color" value="#FFF" placeholder="Enter a color" input-title="Color" input-autocomplete="off" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="range">
					Range Input Type<br>
					{{> input type="range" input-title="Range" min="1" max="10" value="5" input-autocomplete="off" input-numeric-mask="true" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<label for="search">
					Search Input Type
					{{> input type="search" placeholder="Enter search term" input-title="Search" input-autocomplete="on" required="true"}}
				</label>
				{{> error-text}}
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				{{> button button-type="button" button-title="Click for Validation" text="Click for Validation"}}
			</div>
		</div>
	</fieldset>
</form>
<!-- FORM - HTML5 - ENDS -->