<!-- FORM STACKED - HELP - BEGINS -->
<form data-abide novalidate>
	<div class="row">
		<fieldset class="small-12 columns">
			<label>
				Input Label{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
				{{> input type="text" placeholder="Placeholder text" required="true" aria-describedby="input1"}}
				{{> error-text}}
			</label>
			{{> help-text id="input1"}}
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="small-12 columns">
			<label>
				Password{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
				{{> input type="password" id="password2" placeholder="Password" title="Enter your password" required="true" aria-describedby="input2"}}
				{{> error-text}}
			</label>
			{{> help-text id="input2" text="Enter a password please."}}
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="small-12 columns">
			<label>
				Re-enter Password{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
				{{> input type="password" data-equalto="password2" placeholder="Re-enter Password" title="Re-enter your password" required="true" aria-describedby="input3"}}
				{{> error-text text="Hey, passwords are supposed to match!"}}
			</label>
			{{> help-text id="input3" text="This field is using the data-equalto attribute, causing it to match the password field above."}}
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="small-12 columns">
			<label>
				Select Box{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
				{{> select required="true" aria-describedby="input4"}}
				{{> error-text}}
			</label>
			{{> help-text id="input4"}}
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="small-12 columns">
			{{> legend text="Choose Your Favorite"}}

			{{> input type="radio" input-name="color" input-value="red" id="red" checked="true"}}
			{{> label text="Red" for="red"}}

			{{> input type="radio" input-name="color" input-value="blue" id="blue"}}
			{{> label text="Blue" for="blue"}}
			{{> help-text}}
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="small-12 columns">
			{{> legend text="Check These Out"}}

			{{> input type="checkbox" id="checkbox1" checked="true"}}
			{{> label text="Checkbox 1" for="checkbox1"}}

			{{> input type="checkbox" id="checkbox2"}}
			{{> label text="Checkbox 2" for="checkbox2"}}
			{{> help-text}}
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="small-12 columns">
			<label>
				Textarea Label{{> icon class="evo-icon-custom-asterisk-small evo-form-required-icon"}}
				{{> textarea placeholder="Placeholder text" required="true" aria-describedby="input5"}}
				{{> error-text}}
			</label>
			{{> help-text id="input5"}}
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="small-12 columns evo-form-buttons">
			{{> button button-type="button" secondary="true" type="reset" button-title="Reset" value="Reset" text="Reset"}}
			{{> button button-type="button" button-title="Click for Validation" text="Click for Validation"}}
		</fieldset>
	</div>
</form>
<!-- FORM STACKED - HELP - ENDS -->