<!-- DATA LIST - STACKED - BEGINS -->
<ul class="evo-data-list evo-data-list-stacked">
	<li>
		<span class="evo-data-list-label">First Name:</span>
		<span class="evo-data-list-item">Arquimedez</span>
	</li>
	<li>
		<span class="evo-data-list-label">Last Name:</span>
		<span class="evo-data-list-item">Pozo</span>
	</li>
	<li>
		<span class="evo-data-list-label">Country:</span>
		<span class="evo-data-list-item">United States</span>
	</li>
	<li>
		<span class="evo-data-list-label">Language:</span>
		<span class="evo-data-list-item">English</span>
	</li>
</ul>
<!-- DATA LIST - STACKED - ENDS -->