---
title: "Thin Footer"
---

<!-- THIN FOOTER COMPONENT - BEGINS -->
	<footer class="evo-thin-footer">

	<!-- CONTENT SECTION - BEGINS -->
		<section class="row evo-footer-content-section">
			<div class="evo-contain-to-grid">
				<div class="medium-6 columns">

					<section class="row collapse">
						<div class="small-only-text-center medium-5 large-5 columns">

						<!-- SOCIAL MEDIA BADGES - BEGINS -->
							<div class="evo-social-media-badges-ctn">
								<a class="evo-icon-facebook2 evo-icon-size-medium" href="javascript:;" title="Facebook" aria-label="Facebook"></a>
								<a class="evo-icon-twitter2 evo-icon-size-medium" href="javascript:;" title="Twitter" aria-label="Twitter"></a>
								<a class="evo-icon-tumblr2 evo-icon-size-medium" href="javascript:;" title="Tumblr" aria-label="Tumblr"></a>
								<a class="evo-icon-linkedin evo-icon-size-medium" href="javascript:;" title="LinkedIn" aria-label="LinkedIn"></a>
							</div>
						<!-- SOCIAL MEDIA BADGES - ENDS -->

						</div>
						<div class="small-only-text-center medium-7 large-7 columns evo-thin-footer-logo">
							<img src="{{ assets }}/images/core/corp-logos/marsh-mclennan/mmc_logo_rgb.png" alt="Marsh &amp; McLennan Companies" width="225" height="10" />
						</div>
					</section>
				</div>
				<div class="medium-6 small-only-text-center columns">
					<div class="evo-footer-links">
						<ul class="inline-list evo-inline-list evo-inline-list-pipes">
							<li><a href="#/">Terms of Use</a></li>
							<li><a href="#/">Privacy Policy</a></li>
							<li><a href="#/">Site map</a></li>
							<li><a href="#/">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	<!-- CONTENT SECTION - ENDS -->

	<!-- BRAND BAR - BEGINS -->
		<section class="row evo-thin-footer-brand-bar">
			<div class="evo-contain-to-grid">
			<!-- FOOTER BRAND LOGO - BEGINS -->
				<div class="medium-6 medium-push-6 columns small-text-center medium-text-right evo-footer-logo">
					<a class="small-only-text-center" href="http://www.mercer.com/" target="_blank" title="Mercer - Make Tomorrow, Today">
						<img src="{{ assets }}/images/core/corp-logos/mercer/mercer_mtt_horizontal_rgb.png" alt="Mercer - Make Tomorrow, Today" width="395" height="15" />
					</a>
				</div>
			<!-- FOOTER BRAND LOGO - ENDS -->

			<!-- FOOTER COPYRIGHT - BEGINS -->
				<div class="medium-6 medium-pull-6 columns">
					<p class="small-only-text-center evo-footnote evo-footer-copyright">
						<small>&copy; {{now "%Y"}} Mercer LLC, All Rights Reserved</small>
					</p>
				</div>
			<!-- FOOTER COPYRIGHT - ENDS -->
			</div>
		</section>
	<!-- BRAND BAR - ENDS -->

	</footer>
<!-- THIN FOOTER COMPONENT - ENDS -->