---
title: "Item Selection Panel"
---

<!-- ITEM SELECTION PANEL - BEGINS -->
	<div class="evo-item-selection-panel">
		<ul class="small-block-grid-3 medium-block-grid-6">
			<li>
				<label for="evo-item-selection-panel-item-7" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					{{> icon class="evo-icon-binoculars evo-icon-size-large evo-item-selection-panel-item-icon"}}
					<span class="evo-item-selection-panel-item-label">Communication</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-7" type="checkbox"}}
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-8" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					{{> icon class="evo-icon-stack2 evo-icon-size-large evo-item-selection-panel-item-icon"}}
					<span class="evo-item-selection-panel-item-label">Presentation Skills</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-8" type="checkbox"}}
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-9" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					{{> icon class="evo-icon-clock evo-icon-size-large evo-item-selection-panel-item-icon"}}
					<span class="evo-item-selection-panel-item-label">Management</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-9" type="checkbox"}}
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-10" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					{{> icon class="evo-icon-pulse2 evo-icon-size-large evo-item-selection-panel-item-icon"}}
					<span class="evo-item-selection-panel-item-label">Vision</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-10" type="checkbox"}}
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-11" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					{{> icon class="evo-icon-users5 evo-icon-size-large evo-item-selection-panel-item-icon"}}
					<span class="evo-item-selection-panel-item-label">Contacts</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-11" type="checkbox"}}
				</label>
			</li>
			<li>
				<label for="evo-item-selection-panel-item-12" class="evo-item-selection-panel-item" data-evo-item-selection-panel-item>
					{{> icon class="evo-icon-notification2 evo-icon-size-large evo-item-selection-panel-item-icon"}}
					<span class="evo-item-selection-panel-item-label">Accidental</span>
					{{> input class="evo-item-selection-panel-item-checkbox" id="evo-item-selection-panel-item-12" type="checkbox"}}
				</label>
			</li>
		</ul>
	</div>
<!-- ITEM SELECTION PANEL - ENDS -->