//-------------------------------------------------------------------------------------------
// Project Name - Responsive CSS - Medium Media Query - 768px - 1024px
// DATE - 
// AUTHOR - 
//-------------------------------------------------------------------------------------------

// MEDIUM MEDIA QUERY RANGE AND UP - 768px +
@media #{$medium-up} {

	

}

// MEDIUM MEDIA QUERY RANGE - 768px - 1024px
@media #{$medium-only} {					

	

}