<button class="close-button" aria-label="Close" type="button" tabindex="0" data-close>
	<span class="show-for-sr">Close</span>
	<span aria-hidden="true"><i class="evo-icon-cancel-circle"></i></span>
</button>