<!-- RANGE SLIDER (MAX) - BEGINS -->
<div class="evo-slider-ctn">
	<h6 class="evo-slider-hdr">
		Range:<span class="evo-slider-hdr-value">{{> input class="evo-slider-range-input" readonly="true"}}</span>
	</h6>
	<div class="evo-slider" data-evo-slider="evo-slider-range-single-max"></div>
	<div class="clearfix evo-slider-tick-ctn">
		<div class="float-left evo-slider-tick-number evo-slider-tick-number-min">
			0%
			<span class="evo-slider-tick-marker evo-slider-tick-number-min-marker"></span>
		</div>
		<div class="float-right text-right evo-slider-tick-number evo-slider-tick-number-max">
			100%
			<span class="evo-slider-tick-marker evo-slider-tick-number-max-marker"></span>
		</div>
	</div>
</div>
<!-- RANGE SLIDER (MAX) - ENDS -->