<!-- SLIDER - BEGINS -->
<div class="evo-slider-ctn">
	<div class="evo-slider" data-evo-slider="evo-slider-default"></div>
	<div class="clearfix evo-slider-tick-ctn">
		<div class="left evo-slider-tick-number evo-slider-tick-number-min">
			0%
			<span class="evo-slider-tick-marker evo-slider-tick-number-min-marker"></span>
		</div>
		<div class="right text-right evo-slider-tick-number evo-slider-tick-number-max">
			100%
			<span class="evo-slider-tick-marker evo-slider-tick-number-max-marker"></span>
		</div>
	</div>
</div>
<!-- SLIDER - ENDS -->