<footer class="evo-footer">
	<section class="row">
		<div class="small-12 columns">
			<ul class="inline-list evo-inline-list evo-inline-list-pipes">
				<li><a href="">Footer Link 1</a></li>
				<li><a href="">Footer Link 2</a></li>
				<li><a href="">Footer Link 3</a></li>
				<li><span class="evo-copyright">&copy; {{now "%Y"}} Mercer LLC, All Rights Reserved</span></li>
			</ul>
		</div>
	</section>
</footer>