<header class="evo-header" role="banner">
	
	<!-- TOP BAR CONTAINER - DEFAULT - BEGINS -->
	<div class="contain-to-grid show-for-large-up">

		<!-- TOP BAR - BEGINS -->
		<nav class="top-bar evo-top-bar" data-topbar role="navigation">
			
			<!-- TOP BAR TITLE AREA - BEGINS -->
			<ul class="title-area">
				<li class="name">
					<h1><a href="index.html">{{ global.title }} <span class="evo-top-bar-sub-name"></span></a></h1>
				</li>
			</ul>
			<!-- TOP BAR TITLE AREA - ENDS -->

			<!-- TOP BAR NAV SECTION - BEGINS -->
			<section class="top-bar-section">

				<!-- TOP BAR RIGHT NAV SECTION - BEGINS -->
				<ul class="right">
					<li class="active">
						<a href="">Nav Link 2</a>
					</li>
					<li>
						<a href="">Nav Link 3</a>
					</li>
					<li class="has-dropdown">
						<a class="evo-icon-user"></a>
						<ul class="dropdown">
							<li>
								<a href="">View Profile</a>
							</li>
							<li class="divider"></li>
							<li class="active">
								<a href="">Change Language</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">User Administration</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- TOP BAR RIGHT NAV SECTION - ENDS -->

				<!-- TOP BAR LEFT NAV SECTION - BEGINS -->
				<ul class="left">
					<li class="has-dropdown">
						<a>Nav Link 1</a>
						<ul class="dropdown">
							<li>
								<a href="">Item 1</a>
							</li>
							<li class="divider"></li>
							<li class="has-dropdown">
								<a>Item 2</a>
								<ul class="dropdown">
									<li>
										<a href="">Sub-item 1</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="">Sub-item 2</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="">Sub-item 3</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="">Sub-item 4</a>
									</li>
								</ul>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Item 3</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="">Item 4</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- TOP BAR LEFT NAV SECTION - ENDS -->

			</section>
			<!-- TOP BAR NAV SECTION - ENDS -->

		</nav>
		<!-- TOP BAR - ENDS -->

	</div>
	<!-- TOP BAR CONTAINER - DEFAULT - ENDS -->

	<!-- OFF-CANVAS - TAB BAR - BEGINS -->
	<nav class="tab-bar hide-for-large-up" aria-hidden="true">
		<section class="left-small">
			<a class="left-off-canvas-toggle menu-icon">
				<i class="evo-icon-menu7 evo-icon-size-medium" title="Menu"></i>
			</a>
		</section>

		<section class="middle tab-bar-section">
			<h1 class="title">
				<a href="/">{{ global.title }}</a>
			</h1>
		</section>

		<section class="right-small">
			<a class="right-off-canvas-toggle menu-icon">
				<i class="evo-icon-user evo-icon-size-medium" title="User Account"></i>
			</a>
		</section>
	</nav>
	<!-- OFF-CANVAS - TAB BAR - ENDS -->

	<!-- OFF-CANVAS - LEFT MENU - BEGINS -->
	<aside class="left-off-canvas-menu">
		<ul class="off-canvas-list">
			<li>
				<label>Label</label>
			</li>
			<li class="has-submenu">
				<a href="">Item 1 w/ menu</a>
				<ul class="left-submenu">
					<li class="back">
						<a href="">Back</a>
					</li>
					<li>
						<label>Level 1</label>
					</li>
					<li>
						<a href="">Sub-item 1</a>
					</li>
					<li class="has-submenu">
						<a href="">Sub-item 2 w/ menu</a>
						<ul class="left-submenu">
							<li class="back">
								<a href="">Back</a>
							</li>
							<li>
								<label>Level 2</label>
							</li>
							<li>
								<a href="">Sub-sub-item 1</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="">Sub-item 3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="">Item 2</a>
			</li>
			<li>
				<a href="">Item 3</a>
			</li>
			<li>
				<a href="">Item 4</a>
			</li>
			<li>
				<a href="">Item 5</a>
			</li>
		</ul>
	</aside>
	<!-- OFF-CANVAS - LEFT MENU - ENDS -->

	<!-- OFF-CANVAS - RIGHT MENU - BEGINS -->
	<aside class="right-off-canvas-menu">
		<ul class="off-canvas-list">
			<li>
				<label>User Account</label>
			</li>
			<li>
				<a href="">View Profile</a>
			</li>
			<li>
				<a href="">Change Language</a>
			</li>
			<li>
				<a href="">User Administration</a>
			</li>
			<li>
				<a href="">Log Out</a>
			</li>
		</ul>
	</aside>
	<!-- OFF-CANVAS - RIGHT MENU - ENDS -->

</header>