<header class="evo-header evo-site-header" role="banner">

<!-- OFF-CANVAS - TITLE BAR - BEGINS -->
	<nav class="title-bar" data-responsive-toggle="evo-site-top-bar" data-hide-for="large" role="navigation">
		<div class="title-bar-left">
			<button class="menu-icon" type="button" data-open="evo-off-canvas-left-menu">
				<i class="evo-icon-menu7 evo-icon-size-medium" title="Menu"></i>
			</button>
		</div>
		<div class="title-bar-title">
			<a href="{{#is dirname "dist/page-templates"}}../index.html{{else}}index.html{{/is}}">{{ global.title }}</a>
		</div>
		<div class="title-bar-right">
			<button class="menu-icon" type="button" data-open="evo-off-canvas-right-menu">
				<i class="evo-icon-user evo-icon-size-medium" title="Menu"></i>
			</button>
		</div>
	</nav>
<!-- OFF-CANVAS - TITLE BAR - ENDS -->

<!-- OFF-CANVAS - LEFT MENU - BEGINS -->
	<div class="off-canvas position-left" id="evo-off-canvas-left-menu" data-off-canvas>
		<ul class="vertical menu" data-drilldown>
			<li>
				<label>Label</label>
			</li>
			<li>
				<a href="">Item 1 w/ menu</a>
				<ul class="vertical menu">
					<li>
						<label>Level 1</label>
					</li>
					<li>
						<a href="#/">Sub-item 1</a>
					</li>
					<li>
						<a href="">Sub-item 2 w/ menu</a>
						<ul class="vertical menu">
							<li>
								<label>Level 2</label>
							</li>
							<li>
								<a href="#/">Sub-sub-item 1</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#/">Sub-item 3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#/">Item 2</a>
			</li>
			<li>
				<a href="#/">Item 3</a>
			</li>
			<li>
				<a href="#/">Item 4</a>
			</li>
			<li>
				<a href="#/">Item 5</a>
			</li>
		</ul>
	</div>
<!-- OFF-CANVAS - LEFT MENU - ENDS -->

<!-- OFF-CANVAS - RIGHT MENU - BEGINS -->
	<div class="off-canvas position-right" id="evo-off-canvas-right-menu" data-off-canvas data-position="right">
		<ul class="vertical menu" data-drilldown>
			<li>
				<label>Label</label>
			</li>
			<li>
				<a href="">Item 1 w/ menu</a>
				<ul class="vertical menu">
					<li>
						<label>Level 1</label>
					</li>
					<li>
						<a href="#/">Sub-item 1</a>
					</li>
					<li>
						<a href="">Sub-item 2 w/ menu</a>
						<ul class="vertical menu">
							<li>
								<label>Level 2</label>
							</li>
							<li>
								<a href="#/">Sub-sub-item 1</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#/">Sub-item 3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#/">Item 2</a>
			</li>
			<li>
				<a href="#/">Item 3</a>
			</li>
			<li>
				<a href="#/">Item 4</a>
			</li>
			<li>
				<a href="#/">Item 5</a>
			</li>
		</ul>
	</div>
<!-- OFF-CANVAS - RIGHT MENU - ENDS -->

<!-- TOP BAR - BEGINS -->
	<nav class="top-bar evo-top-bar" id="evo-site-top-bar" role="navigation">
		
	<!-- TOP BAR TITLE - BEGINS -->
		<div class="top-bar-title">
			<a href="{{#is dirname "dist/page-templates"}}../index.html{{else}}index.html{{/is}}">{{ global.title }} <span></span></a>
		</div>
	<!-- TOP BAR TITLE - ENDS -->

	<!-- TOP BAR CONTENT - BEGINS -->
		<div class="evo-top-bar-content">

		<!-- TOP BAR LEFT SECTION - BEGINS -->
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>

					<!-- TOP BAR - MEGA MENU - BEGINS -->
					<li data-evo-mega-menu>
						<a class="dropdown" data-toggle="evo-site-mega-menu">Mega Menu</a>
						<div class="dropdown-pane" id="evo-site-mega-menu" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true;">
							<div class="row">
								<div class="large-3 columns">
									<h6 class="evo-hdr-rule">H6 Header</h6>
									<ul class="no-bullet">
										<li><a href="#/">Section One</a></li>
										<li><a href="#/">Section Two</a></li>
										<li><a href="#/">Section Three</a></li>
										<li><a href="#/">Section Four</a></li>	
									</ul>
								</div>
								<div class="large-3 columns">
									<h6 class="evo-hdr-rule">H6 Header</h6>
									<ul class="no-bullet">
										<li><a href="#/">Section One</a></li>
										<li><a href="#/">Section Two</a></li>
										<li><a href="#/">Section Three</a></li>
										<li><a href="#/">Section Four</a></li>	
									</ul>
								</div>
								<div class="large-3 columns">
									<h6 class="evo-hdr-rule">H6 Header</h6>
									<ul class="no-bullet">
										<li><a href="#/">Section One</a></li>
										<li><a href="#/">Section Two</a></li>
										<li><a href="#/">Section Three</a></li>
										<li><a href="#/">Section Four</a></li>	
									</ul>
								</div>
								<div class="large-3 columns">
									<h6 class="evo-hdr-rule">H6 Header</h6>
									<ul class="no-bullet">
										<li><a href="#/">Section One</a></li>
										<li><a href="#/">Section Two</a></li>
										<li><a href="#/">Section Three</a></li>
										<li><a href="#/">Section Four</a></li>	
									</ul>
								</div>
							</div>
						</div>
					</li>
					<!-- TOP BAR - MEGA MENU - ENDS -->

					<li>
						<a href="javascript:;">Item 1</a>
						<ul class="dropdown menu" data-dropdown-menu>
							<li>
								<a href="#/">Sub-item 1</a>
							</li>
							<li>
								<a href="javascript:;">Sub-item 2</a>
								<ul class="dropdown menu" data-dropdown-menu>
									<li>
										<a href="#/">Sub-sub-item 1</a>
									</li>
									<li>
										<a href="#/">Sub-sub-item 2</a>
									</li>
									<li>
										<a href="#/">Sub-sub-item 3</a>
									</li>
									<li>
										<a href="#/">Sub-sub-item 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#/">Sub-item 3</a>
							</li>
							<li>
								<a href="#/">Sub-item 4</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		<!-- TOP BAR LEFT SECTION - ENDS -->

		<!-- TOP BAR RIGHT SECTION - BEGINS -->
			<div class="top-bar-right">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="active">
						<a href="#/">Item 2</a>
					</li>
					<li>
						<a href="javascript:;" class="evo-icon-user" aria-label="Open Menu">
							<span class="show-for-sr">Open Menu</span>
						</a>
						<ul class="dropdown menu" data-dropdown-menu>
							<li>
								<a href="#/">Sub-item 1</a>
							</li>
							<li>
								<a href="#/">Sub-item 2</a>
							</li>
							<li class="active">
								<a href="#/">Sub-item 3</a>
							</li>
							<li>
								<a href="#/">Sub-item 4</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		<!-- TOP BAR RIGHT SECTION - ENDS -->

		</div>
	<!-- TOP BAR CONTENT - ENDS -->

	</nav>
<!-- TOP BAR - ENDS -->

</header>