{{!-- ACCORDION - BEGINS --}}
	{{> type-header size="4" text="Accordion"}}
	<div class="row">
		<div class="medium-6 columns">

		{{!-- BASIC ACCORDION - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> accordion }}
		{{!-- BASIC ACCORDION - ENDS --}}

		</div>
		<div class="medium-6 columns">

		{{!-- ACCORDION WITH ICONS - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="With Icons"}}
			{{> accordion-icons }}
		{{!-- ACCORDION WITH ICONS - ENDS --}}

		</div>
	</div>
{{!-- ACCORDION - ENDS --}}

<hr>

{{!-- ALERT BOXES - BEGINS --}}
	{{> type-header size="4" text="Alert Boxes"}}
	<div class="row">
		<div class="small-12 columns">
			{{> alert-box type="custom" custom-icon-class="evo-icon-wrench" }}
			{{> alert-box type="alert" text="Error message text would go here&hellip;" }}
			{{> alert-box type="success" text="Confirmation message text would go here&hellip;" }}
			{{> alert-box type="warning" text="Attention message text would go here&hellip;" }}
		</div>
	</div>
{{!-- ALERT BOXES - ENDS --}}

<hr>

{{!-- AUTOCOMPLETE - BEGINS --}}
	{{> type-header size="4" text="Autocomplete"}}
	<div class="row">
		<div class="medium-6 columns">
			
		{{!-- BASIC AUTOCOMPLETE - BEGINS --}}
			{{> autocomplete }}
		{{!-- BASIC AUTOCOMPLETE - ENDS --}}

		</div>
		<div class="medium-6 columns"></div>
	</div>
{{!-- AUTOCOMPLETE - ENDS --}}

<hr>

{{!-- BADGES - BEGINS --}}
	{{> type-header size="4" text="Badges"}}
	<div class="row">
		<div class="medium-6 columns">
			
		{{!-- BASIC BADGE - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> badge text="9" }}
			{{> badge text="99" }}
			{{> badge text="999" }}
			{{> badge text="9999" }}
			<br><br>
		{{!-- BASIC BADGE - ENDS --}}

		{{!-- BADGE WITH ICONS - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Badge With Icon"}}
			{{> badge size="small" icon-class="evo-icon-file-text2" }}
			{{> badge size="small" icon-class="evo-icon-user" }}
			{{> badge size="small" icon-class="evo-icon-alarm-check" }}
			<br><br>
		{{!-- BADGE WITH ICONS - ENDS --}}

		{{!-- BADGE SIZES - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Badge Sizes"}}
			{{> badge size="small" text="9" }}
			{{> badge size="small" text="99" }}
			{{> badge size="small" text="999" }}
			{{> badge size="small" text="9999" }}
			<br><br>
			{{> badge size="medium" text="9" }}
			{{> badge size="medium" text="99" }}
			{{> badge size="medium" text="999" }}
			{{> badge size="medium" text="9999" }}
			<br><br>
			{{> badge size="large" text="9" }}
			{{> badge size="large" text="99" }}
			{{> badge size="large" text="999" }}
			{{> badge size="large" text="9999" }}
		{{!-- BADGE SIZES - ENDS --}}

		</div>
		<div class="medium-6 columns">
			
		{{!-- BADGE COLORS - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Badge Colors"}}
			{{> badge font-color="amethyst-light" text="9" }}
			{{> badge background-color="amethyst-bright" text="99" }}
			<br><br>
			{{> badge system-color="primary" text="9" }}
			{{> badge system-color="secondary" text="9" }}
			{{> badge system-color="alert" text="9" }}
			{{> badge system-color="warning" text="9" }}
			{{> badge system-color="success" text="9" }}
			<br><br>
			{{> badge size="small" system-color="alert" text="9" }}
			{{> badge size="medium" system-color="alert" text="9" }}
			{{> badge size="large" system-color="alert" text="9" }}
		{{!-- BADGE COLORS - ENDS --}}

		</div>
	</div>
{{!-- BADGES - ENDS --}}

<hr>

{{!-- BREADCRUMBS - BEGINS --}}
	{{> type-header size="4" text="Breadcrumbs"}}
	<div class="row">
		<div class="small-12 columns">
			
		{{!-- BASIC BREADCRUMBS - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> breadcrumbs }}
		{{!-- BASIC BREADCRUMBS - ENDS --}}

		</div>
	</div>
{{!-- BREADCRUMBS - ENDS --}}

<hr>

{{!-- BUTTONS - BEGINS --}}
	{{> type-header size="4" text="Buttons"}}
	<div class="row">
		<div class="small-12 columns">
			
		{{!-- BUTTON GROUPS - BEGINS --}}	
			{{> type-header size="6" class="evo-hdr-rule" text="Button Groups"}}

			{{> type-paragraph text="Basic"}}
			{{> button-group }}

			{{> type-paragraph text="Evenly distributed"}}
			{{> button-group-even }}

			{{> type-paragraph text="Stacked"}}
			{{> button-group-stacked }}
		{{!-- BUTTON GROUPS - ENDS --}}

		</div>
	</div>
{{!-- BUTTONS - ENDS --}}

<hr>

{{!-- CAROUSEL (ORBIT) - BEGINS --}}
	{{> type-header size="4" text="Carousel"}}
	<div class="row">
		<div class="small-12 columns">

		{{!-- IMAGES CAROUSEL - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Images"}}
			{{> carousel }}
		{{!-- IMAGES CAROUSEL - ENDS --}}

		{{!-- IMAGES WITH CAPTIONS CAROUSEL - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Images With Captions"}}
			{{> carousel-caption }}
		{{!-- IMAGES WITH CAPTIONS CAROUSEL - ENDS --}}

		{{!-- CONTENT CAROUSEL - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Content"}}
			{{> carousel-content }}
		{{!-- CONTENT CAROUSEL - ENDS --}}

		</div>
	</div>
{{!-- CAROUSEL (ORBIT) - ENDS --}}

<hr>

{{!-- DATA TABLE - BEGINS --}}
	{{> type-header size="4" text="Data Table"}}
	<div class="row">
		<div class="small-12 columns">

		{{!-- BASIC DATA TABLE - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic Data Table"}}
			{{> data-table }}
		{{!-- BASIC DATA TABLE - ENDS --}}

		{{!-- DATA TABLE - SUBTOTAL ROW - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Subtotal Row"}}
			{{> data-table-subtotal }}
		{{!-- DATA TABLE - SUBTOTAL ROW - ENDS --}}

		{{!-- DATA TABLE - TOTAL ROW - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Total Row"}}
			{{> data-table-total }}
		{{!-- DATA TABLE - TOTAL ROW - ENDS --}}

		{{!-- DATA TABLE - VERTCAL SCROLL - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Vertical Scroll"}}
			{{> data-table-vertical-scroll }}
		{{!-- DATA TABLE - VERTCAL SCROLL - ENDS --}}

		</div>
	</div>
{{!-- DATA TABLE - ENDS --}}

<hr>

{{!-- DATEPICKER - BEGINS --}}
	{{> type-header size="4" text="Datepicker"}}
	<div class="row">
		<div class="medium-6 columns">
			
			{{!-- DATEPICKER - READ ONLY - BEGINS --}}
				{{> type-header size="6" class="evo-hdr-rule" text="Read Only"}}
				{{> datepicker }}
			{{!-- DATEPICKER - READ ONLY - ENDS --}}

		</div>
		<div class="medium-6 columns">
			
			{{!-- DATEPICKER - INPUT MASK - BEGINS --}}
				{{> type-header size="6" class="evo-hdr-rule" text="Masked Input"}}
				{{> datepicker-date-input-masked }}
			{{!-- DATEPICKER - INPUT MASK - ENDS --}}

		</div>
	</div>
{{!-- DATEPICKER - BEGINS --}}

<hr>

{{!-- DROPDOWNS - BEGINS --}}
	{{> type-header size="4" text="Dropdowns"}}
	<div class="row">
		<div class="medium-6 columns">

		{{!-- BASIC - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> dropdowns }}
		{{!-- BASIC - ENDS --}}

			<br><br>

		{{!-- POSITIONING - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Positioning"}}
			{{> dropdowns-positioning }}
		{{!-- POSITIONING - ENDS --}}
		
		</div>
		<div class="medium-6 columns">

		{{!-- HOVER - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Hover"}}
			{{> dropdowns-hover }}
		{{!-- HOVER - ENDS --}}
		
		</div>
	</div>
{{!-- DROPDOWNS - ENDS --}}

<hr>

{{!-- FORMS - BEGINS --}}
	{{> type-header size="4" text="Forms"}}
	<div class="row">
		<div class="medium-5 columns">
			
		{{!-- STACKED - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Stacked"}}
			{{> form-stacked }}
		{{!-- STACKED - ENDS --}}

		{{!-- STACKED WITH HELP TEXT - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Stacked with help text"}}
			{{> form-stacked-help }}
		{{!-- STACKED WITH HELP TEXT - ENDS --}}

		{{!-- COMPACT - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Compact"}}
			{{> form-compact }}
		{{!-- COMPACT - ENDS --}}

		</div>
		<div class="medium-7 columns">
			
		{{!-- INLINE - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Inline"}}
			{{> form-inline }}
		{{!-- INLINE - ENDS --}}

		{{!-- INLINE WITH HELP TEXT - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Inline with help text"}}
			{{> form-inline-help }}
		{{!-- INLINE WITH HELP TEXT - ENDS --}}

		</div>
	</div>
{{!-- FORMS - ENDS --}}

<hr>

{{!-- LABELS - BEGINS --}}
	{{> type-header size="4" text="Labels"}}
	<div class="row">
		<div class="medium-6 columns">

			{{!-- LABELS - BEGINS --}}
				{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
				{{> labels }}
			{{!-- LABELS - ENDS --}}

			<br><br>

			{{!-- LABELS - COLORS - BEGINS --}}
				{{> type-header size="6" class="evo-hdr-rule" text="Colors"}}
				{{> labels-colors }}
			{{!-- LABELS - COLORS - ENDS --}}

		</div>
		<div class="medium-6 columns">

			{{!-- LABELS - ICONS - BEGINS --}}
				{{> type-header size="6" class="evo-hdr-rule" text="Icons"}}
				{{> labels-icons }}
			{{!-- LABELS - ICONS - ENDS --}}

		</div>
	</div>
{{!-- LABELS - BEGINS --}}

<hr>

{{!-- OFF-CANVAS - BEGINS --}}
	{{> type-header size="4" text="Off-canvas"}}
	<div class="row">
		<div class="small-12 columns">

		{{!-- OFF-CANVAS - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Off-canvas"}}
			{{> off-canvas }}
		{{!-- OFF-CANVAS - ENDS --}}

		</div>
	</div>
{{!-- OFF-CANVAS - BEGINS --}}

<hr>

{{!-- PAGINATION - BEGINS --}}
	{{> type-header size="4" text="Pagination"}}
	<div class="row">
		<div class="medium-6 columns">

		{{!-- BASIC PAGINATION - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> pagination }}
		{{!-- BASIC PAGINATION - ENDS --}}

		</div>
		<div class="medium-6 columns">

		{{!-- PAGINATION CENTERED - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Centered"}}
			{{> pagination-centered }}
		{{!-- PAGINATION CENTERED - ENDS --}}

		</div>
	</div>
{{!-- PAGINATION - BEGINS --}}

<hr>

{{!-- PROGRESS BAR - BEGINS --}}
	{{> type-header size="4" text="Progress Bar"}}
	<div class="row">
		<div class="medium-6 columns">

		{{!-- BASIC PROGRESS BAR - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> progress-bar }}
		{{!-- BASIC PROGRESS BAR - ENDS --}}

		{{!-- PROGRESS BAR - METER COLOR - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Meter Color"}}
			{{> progress-bar-meter-color }}
		{{!-- PROGRESS BAR - METER COLOR - ENDS --}}

		</div>
		<div class="medium-6 columns">

		{{!-- PROGRESS BAR - WITH TEXT - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="With Text"}}
			{{> progress-bar-text }}
		{{!-- PROGRESS BAR - WITH TEXT - ENDS --}}

		</div>
	</div>
{{!-- PROGRESS BAR - BEGINS --}}

<hr>

{{!-- REVEAL MODAL - BEGINS --}}
	{{> type-header size="4" text="Reveal Modal"}}
	<div class="row">
		<div class="medium-5 columns">

		{{!-- BASIC REVEAL - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> reveal }}
		{{!-- BASIC REVEAL - ENDS --}}

		</div>
		<div class="medium-7 columns">

		{{!-- REVEAL SIZES - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Sizes"}}
			{{> reveal-tiny }}
			{{> reveal-small }}
			{{> reveal-large }}
			{{> reveal-full }}
		{{!-- REVEAL SIZES - ENDS --}}

		</div>
	</div>
{{!-- REVEAL MODAL - BEGINS --}}

<hr>

{{!-- SLIDER - BEGINS --}}
	{{> type-header size="4" text="Slider"}}
	<div class="row">
		<div class="medium-6 columns">

		{{!-- BASIC SLIDER - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> slider }}
		{{!-- BASIC SLIDER - ENDS --}}

		{{!-- RANGE SLIDER - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Range"}}
			{{> range-slider }}
		{{!-- RANGE SLIDER - ENDS --}}

		{{!-- RANGE SLIDER MIN - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Range (min)"}}
			{{> range-slider-min }}
		{{!-- RANGE SLIDER MIN - ENDS --}}

		{{!-- RANGE SLIDER MAX - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Range (max)"}}
			{{> range-slider-max }}
		{{!-- RANGE SLIDER MAX - ENDS --}}

		</div>
		<div class="medium-6 columns">

		{{!-- SLIDERS WITH INTERVAL TICKS - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Sliders with Interval Ticks"}}
			{{> slider-interval-ticks }}
		{{!-- SLIDERS WITH INTERVAL TICKS - ENDS --}}

		</div>
	</div>
{{!-- SLIDER - BEGINS --}}

<hr>

{{!-- TABS - BEGINS --}}
	{{> type-header size="4" text="Tabs"}}
	<div class="row">
		<div class="small-12 columns">

		{{!-- BASIC TABS - BEGINS --}}
			{{> tabs }}
		{{!-- BASIC TABS - ENDS --}}

		</div>
	</div>
{{!-- TABS - BEGINS --}}

<hr>

{{!-- TOOLTIPS - BEGINS --}}
	{{> type-header size="4" text="Tooltips"}}
	<div class="row">
		<div class="medium-6 columns">

		{{!-- TOOLTIP - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> tooltip }}
		{{!-- TOOLTIP - ENDS --}}

		</div>
		<div class="medium-6 columns">

		{{!-- TOOLTIP - POSITION - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Position"}}
			{{> tooltip-position }}
		{{!-- TOOLTIP - POSITION - ENDS --}}

		<br>
		<br>

		{{!-- TOOLTIP - SHOW BY SCREEN SIZE - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Show by Screen Size"}}
			{{> tooltip-show-by-screen-size }}
		{{!-- TOOLTIP - SHOW BY SCREEN SIZE - ENDS --}}

		{{!-- TOOLTIP - INPUT - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Tooltip in a Form"}}
			{{> tooltip-input }}
		{{!-- TOOLTIP - INPUT - ENDS --}}

		</div>
	</div>
{{!-- TOOLTIPS - BEGINS --}}

<hr>

{{!-- TOP BAR - BEGINS --}}
	{{> type-header size="4" text="Top Bar"}}
	<div class="row">
		<div class="small-12 columns">

		{{!-- BASIC TOP BAR - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> top-bar }}
			<br>
		{{!-- BASIC TOP BAR - ENDS --}}

		{{!-- TOP BAR - MEGA MENU - HOVER - BEGINS --}}
			{{> type-header size="6" class="evo-hdr-rule" text="With Mega Menu"}}
			{{> top-bar-mega-menu }}
			<br>
		{{!-- TOP BAR - MEGA MENU - HOVER - ENDS --}}

		</div>
	</div>
{{!-- TOP BAR - BEGINS --}}