{{!-- CONVERSATIONAL FORM - BEGINS --}}
	{{> type-header size="3" text="Conversational Form"}}
	<div class="row">
		<div class="small-12 columns">
			{{> conversational-form }}
		</div>
	</div>
{{!-- CONVERSATIONAL FORM - BEGINS --}}

<hr>

{{!-- FAT FOOTER - BEGINS --}}
	{{> type-header size="3" text="Fat Footer"}}
	<div class="row">
		<div class="small-12 columns">
			{{> fat-footer}}
		</div>
	</div>
{{!-- FAT FOOTER - BEGINS --}}

<hr>

{{!-- ITEM SELECTION PANEL - BEGINS --}}
	{{> type-header size="3" text="Item Selection Panel"}}
	<div class="row">
		<div class="small-12 columns">
			{{> type-header size="6" class="evo-hdr-rule" text="Basic"}}
			{{> item-selection-panel }}

			{{> type-header size="6" class="evo-hdr-rule" text="Photo Icons"}}
			{{> item-selection-panel-photo-icons }}
		</div>
	</div>
{{!-- ITEM SELECTION PANEL - ENDS --}}

<hr>

{{!-- PRICING TABLE - BEGINS --}}
	{{> type-header size="3" text="Pricing Table"}}
	<div class="row">
		<div class="small-12 columns">
			{{> pricing-table }}<br>
			{{> pricing-table-top-label }}<br>
			{{> pricing-table-bottom-label }}<br>
			{{> pricing-table-top-bottom-label }}<br>
			{{> pricing-table-top-bottom-label-sub-total }}
		</div>
	</div>
{{!-- PRICING TABLE - BEGINS --}}

<hr>

{{!-- SHOWCASE PANEL - BEGINS --}}
	{{> type-header size="3" text="Showcase Panel"}}
	<div class="row">
		<div class="small-12 columns">
			{{> showcase-panel }}
		</div>
	</div>
{{!-- SHOWCASE PANEL - BEGINS --}}

<hr>

{{!-- SOCIAL MEDIA BADGES - BEGINS --}}
	{{> type-header size="3" text="Social Media Badges"}}
	<div class="row">
		<div class="small-12 columns">
			{{> social-media-badges }}
		</div>
	</div>
{{!-- SOCIAL MEDIA BADGES - ENDS --}}

<hr>

{{!-- STEPPER - BEGINS --}}
	{{> type-header size="3" text="Stepper"}}
	<div class="row">
		<div class="small-12 columns">
			{{> stepper }}
		</div>
	</div>
{{!-- STEPPER - BEGINS --}}

<hr>

{{!-- THIN FOOTER - BEGINS --}}
	{{> type-header size="3" text="Thin Footer"}}
	<div class="row">
		<div class="small-12 columns">
			{{> thin-footer }}
		</div>
	</div>
{{!-- THIN FOOTER - ENDS --}}