<!-- SMALL REVEAL - BEGINS -->
<a href="" class="button radius evo-button" data-reveal-id="smallModal" id="" tabindex="" title="">Small Modal Size</a>
<div id="smallModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h3>Small Modal Size</h3>
	<p>This modal window is set to 40%. The <code>.small</code> class has been added.</p>
	<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
</div>
<!-- SMALL REVEAL - ENDS -->