<!-- FULL REVEAL - BEGINS -->
{{> button button-type="button" text="Full Reveal" data-open="full"}}
<div class="reveal full evo-reveal" id="full" data-reveal>
	<h3>Full Reveal</h3>
	<p class="evo-no-margin-bottom">This reveal modal is set to 100%. The <code>.full</code> class has been added.</p>
	{{> close-button}}
</div>
<!-- FULL REVEAL - ENDS -->