<!-- TINY REVEAL - BEGINS -->
{{> button button-type="button" text="Tiny Reveal" data-open="tiny"}}
<div class="reveal tiny evo-reveal" id="tiny" data-reveal>
	<h3>Tiny Reveal</h3>
	<p class="evo-no-margin-bottom">This reveal modal is set to 30%. The <code>.tiny</code> class has been added.</p>
	{{> close-button}}
</div>
<!-- TINY REVEAL - ENDS -->