<!-- REVEAL - BEGINS -->
{{> button button-type="button" text="Basic Reveal" data-open="basic"}}
<div class="reveal evo-reveal" id="basic" data-reveal>
	<h3>Basic Reveal</h3>
	<p class="evo-no-margin-bottom">{{lorem count=4}}</p>
	{{> close-button}}
</div>
<!-- REVEAL - ENDS -->