<!-- TINY REVEAL - BEGINS -->
<a class="button radius evo-button" data-open="exampleModal1">Tiny modal size</a>
<div class="reveal tiny" id="exampleModal1" data-reveal>
	<h3>Tiny Modal Size</h3>
	<p>This modal window is set to 30%. The <code>.tiny</code> class has been added.</p>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<!-- TINY REVEAL - ENDS -->