<!-- TINY REVEAL - BEGINS -->
<a href="#/" class="button radius evo-button" data-reveal-id="tinyModal" id="" tabindex="" title="">Tiny Modal Size</a>
<div id="tinyModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h3>Tiny Modal Size</h3>
	<p>This modal window is set to 30%. The <code>.tiny</code> class has been added.</p>
	<a class="close-reveal-modal" aria-label="Close"><i class="evo-icon-cancel-circle"></i></a>
</div>
<!-- TINY REVEAL - ENDS -->