<!-- SMALL REVEAL - BEGINS -->
{{> button button-type="button" text="Small Reveal" data-open="small"}}
<div class="reveal small evo-reveal" id="small" data-reveal>
	<h3>Small Reveal</h3>
	<p class="evo-no-margin-bottom">This reveal modal is set to 50%. The <code>.small</code> class has been added.</p>
	{{> close-button}}
</div>
<!-- SMALL REVEAL - ENDS -->