<!-- LARGE REVEAL - BEGINS -->
{{> button button-type="button" text="Large Reveal" data-open="large"}}
<div class="reveal large evo-reveal" id="large" data-reveal>
	<h3>Large Reveal</h3>
	<p class="evo-no-margin-bottom">This reveal modal is set to 90%. The <code>.large</code> class has been added.</p>
	{{> close-button}}
</div>
<!-- LARGE REVEAL - ENDS -->