<!-- CALLOUT - BEGINS -->
	<div class="callout evo-callout">
		<header>
			<h1 class="evo-hdr-rule">Header</h1>
		</header>
		<section>
			<p>{{lorem count=5}}</p>
		</section>
		<footer>
			<p class="evo-footnote evo-no-margin-bottom"><small>{{lorem count=1}}</small></p>
		</footer>
	</div>
<!-- CALLOUT - ENDS -->