<!-- TOOLTIP - DISABLE FOR TOUCH EVENTS - BEGINS -->
<p>
	<a href="#/" data-tooltip aria-haspopup="true" data-disable-hover="false" data-show-on="large" data-options="disable_for_touch:true" class="has-tip evo-tooltip" title="Try on a touch screen">Tooltip disabled for touch events.</a>
</p>	
<!-- TOOLTIP - DISABLE FOR TOUCH EVENTS - ENDS -->