<!-- TOOLTIP - BASIC - BEGINS -->
<span data-tooltip aria-haspopup="true" class="has-tip radius evo-tooltip" title="Tooltip postion: bottom (default)">
	Hover on desktop or touch me on mobile!
</span>

<br><br>

<a href="#/" data-tooltip aria-haspopup="true" class="has-tip tip-top radius evo-tooltip" title="Tooltip postion: top">Tooltip on a link.</a>

<br><br>

<img src="{{ assets }}/images/placeholders/placeholder_square.png" data-tooltip aria-haspopup="true" class="has-tip tip-right radius evo-tooltip" alt="" title="Tooltip postion: right" />

<br><br>

<p>Here is some text that has a <span data-tooltip aria-haspopup="true" class="has-tip radius evo-tooltip" title="Tooltip postion: bottom (default)">tooltip</span> example for you to see it in this paragraph.</p>
<!-- TOOLTIP - BASIC - ENDS -->