<!-- TOOLTIP - BASIC - BEGINS -->
<span data-tooltip aria-haspopup="true" data-disable-hover="false" class="has-tip evo-tooltip" title="Tooltip postion: bottom (default)">Hover on desktop or touch me on mobile!</span>

<br><br>

<a href="#/" data-tooltip aria-haspopup="true" data-disable-hover="false" class="has-tip tip-top evo-tooltip" title="Tooltip postion: top">Tooltip on a link.</a>

<br><br>

<img src="/assets/images/placeholders/placeholder_square.png" data-tooltip aria-haspopup="true" data-disable-hover="false" class="has-tip tip-right evo-tooltip" alt="" title="Tooltip postion: right" />

<br><br>

<p>Here is some text that has a <span data-tooltip aria-haspopup="true" data-disable-hover="false" class="has-tip evo-tooltip" title="Tooltip postion: bottom (default)">tooltip</span> example for you to see it in this paragraph.</p>
<!-- TOOLTIP - BASIC - ENDS -->