<!-- TOOLTIP - RADIUS - BEGINS -->
<p>
	<span data-tooltip aria-haspopup="true" class="has-tip radius evo-tooltip" title="Rounded corners">Tooltip with <code>.radius</code> class.</span>
</p>	
<!-- TOOLTIP - RADIUS - ENDS -->