<!-- TOOLTIP - POSITION - BEGINS -->
<span class="has-tip evo-tooltip" data-tooltip data-disable-hover="false" aria-haspopup="true" tabindex="5" title="Tooltip postion: bottom (default)">Tooltip Bottom (default)</span>

<br><br>

<span class="has-tip top evo-tooltip" data-tooltip data-disable-hover="false" aria-haspopup="true" tabindex="6" title="Tooltip postion: top">Tooltip Top</span>

<br><br>

<span class="has-tip left evo-tooltip" data-tooltip data-disable-hover="false" aria-haspopup="true" tabindex="6" title="Tooltip postion: left">Tooltip Left</span>

<br><br>

<span class="has-tip right evo-tooltip" data-tooltip data-disable-hover="false" aria-haspopup="true" tabindex="6" title="Tooltip postion: right">Tooltip Right</span>
<!-- TOOLTIP - POSITION - ENDS -->