<!-- TOOLTIP - ROUND - BEGINS -->
<p>
	<span data-tooltip aria-haspopup="true" class="has-tip round evo-tooltip" title="Round sides">Tooltip with <code>.round</code> class.</span>
</p>	
<!-- TOOLTIP - ROUND - ENDS -->