<!-- TOOLTIP - BASIC - BEGINS -->
<span class="has-tip evo-tooltip" data-tooltip data-disable-hover="false" aria-haspopup="true" tabindex="1" title="Tooltip postion: bottom (default)">Hover on desktop or touch me on mobile!</span>

<br><br>

<a class="has-tip evo-tooltip" href="#/" data-tooltip data-disable-hover="false" aria-haspopup="true" title="Tooltip postion: bottom (default)" tabindex="2">Tooltip on a link.</a>

<br><br>

<img class="has-tip evo-tooltip" src="/assets/images/placeholders/placeholder_square.png" data-tooltip data-disable-hover="false" aria-haspopup="true" alt="" title="Tooltip postion: bottom (default)" tabindex="3" />

<br><br>

<p>Here is some text that has a <span class="has-tip evo-tooltip" data-tooltip data-disable-hover="false" aria-haspopup="true" title="Tooltip postion: bottom (default)" tabindex="4">tooltip</span> example for you to see it in this paragraph.</p>
<!-- TOOLTIP - BASIC - ENDS -->