<!-- DATEPICKER - READ ONLY INPUT - BEGINS -->
<div class="row">
	<fieldset class="small-12 columns">
		<label>
			Date:
			{{> input type="text" readonly="true" title="Select date" ui-datepicker="evo-datepicker-readonly-example"}}
		</label>
	</fieldset>
</div>
<!-- DATEPICKER - READ ONLY INPUT - ENDS -->