<!-- DATEPICKER - DATE INPUT - MASKED - BEGINS -->
<div class="row">
	<div class="small-12 columns">
		<label for="evo-datepicker-masked-example">
			Date:
			<input data-evo-datepicker="evo-datepicker-masked-example" data-evo-datepicker-masked id="evo-datepicker-masked-example" type="text" tabindex="" title="Select date." />
		</label>
	</div>
</div>
<!-- DATEPICKER - DATE INPUT - MASKED - ENDS -->