<!-- DATEPICKER - DATE INPUT - MASKED - BEGINS -->
<div class="row">
	<fieldset class="small-12 columns">
		<label>
			Date:
			{{> input type="text" placeholder="MM/DD/YYYY" title="Select date" ui-datepicker="evo-datepicker-masked-example" ui-datepicker-masked="true"}}
		</label>
	</fieldset>
</div>
<!-- DATEPICKER - DATE INPUT - MASKED - ENDS -->