{{!--
Class options:
evo-footnote: You need wrap content in a <small> tag inside of the paragraph for proper display of footnotes
evo-text-overflow: make text elipsify

text: your content
--}}

<p {{#if class}}class="{{class}}"{{/if}}>{{#if text}}{{{text}}}{{else}}Default paragraph text{{/if}}</p>