<!-- TYPE - UNORDERED LIST - BEGINS -->
<ul class="disc">
	<li>Unordered list item one. List item with a much longer description or more content.</li>
	<li>Unordered list item two</li>
	<li>Unordered list item three
		<ul>
			<li>Unordered list level 2. List item with a much longer description or more content.</li>
			<li>Unordered list level 2</li>
			<li>Unordered list level 2</li>
		</ul>
	</li>
</ul>

<ul class="circle">
	<li>Unordered list item one. List item with a much longer description or more content.</li>
	<li>Unordered list item two</li>
	<li>Unordered list item three
		<ul>
			<li>Unordered list level 2. List item with a much longer description or more content.</li>
			<li>Unordered list level 2</li>
			<li>Unordered list level 2</li>
		</ul>
	</li>
</ul>

<ul class="square">
	<li>Unordered list item one. List item with a much longer description or more content.</li>
	<li>Unordered list item two</li>
	<li>Unordered list item three
		<ul>
			<li>Unordered list level 2. List item with a much longer description or more content.</li>
			<li>Unordered list level 2</li>
			<li>Unordered list level 2</li>
		</ul>
	</li>
</ul>
<!-- TYPE - UNORDERED LIST - ENDS -->