<!-- TYPE - OTHER MARKUP - BEGINS -->
<p>
<abbr title="">&lt;abbr&gt; abbreviation</abbr>
<br><a href="#/">&lt;a&gt; anchor link</a>
<br><em>&lt;em&gt; emphasis stress or italic</em>
<br><small>&lt;small&gt; small print, footnotes, or form help text</small>
<br><strong>&lt;strong&gt; strong importance or bold</strong>
<br>&lt;sub&gt; subscript: H<sub>2</sub>O
<br>&lt;sup&gt; superscript: 8<sup>th</sup> Street, E=mc<sup>2</sup>
</p>
<!-- TYPE - OTHER MARKUP - ENDS -->