<!-- AUTOCOMPLETE - BEGINS -->
<form class="" id="" name="" method="" action="" title="" data-abide>
	<fieldset>
		<div class="row">
			<div class="small-12 columns evo-form-help">
				<label for="evo-autocomplete-example-input">
					Search for Employees:
					<input id="evo-autocomplete-example-input" data-evo-autocomplete="evo-autocomplete-example" type="text" placeholder="Last Name, First Name" tabindex="" title="Last Name, First Name" required />
					<small class="evo-form-help-text">Use "Mercer" as an example.</small>
					<small class="error">Houston we have a problem.</small>
				</label>
			</div>
		</div>
	</fieldset>
</form>
<!-- AUTOCOMPLETE - ENDS -->