<!-- AUTOCOMPLETE - BEGINS -->
<form>
	<div class="row">
		<fieldset class="small-12 columns">
			<label>
				Search for Employees:
				{{> input type="text" placeholder="Last Name, First Name" aria-describedby="autocomplete-help" ui-autocomplete="evo-autocomplete-example"}}
			</label>
			{{> help-text text="Use Mercer as an example." id="autocomplete-help"}}
		</fieldset>
	</div>
</form>
<!-- AUTOCOMPLETE - ENDS -->