//-------------------------------------------------------------------------------------------
// Mercer Evolution - Core v3.0 - Core UI SASS Settings Partial
// DATE - June 3, 2015
// AUTHOR - Doug Fraize, Matthew Holmes
//-------------------------------------------------------------------------------------------

// ==========================================================================================
// DEFAULT CORE UI SASS SETTINGS
// ==========================================================================================

// These are the default Mercer Evolution core UI SASS settings. This is what will be turned on/off
// from Mercer Evolution and included in the evolution UI library CSS file. These settings can be
// modified on a project by project basis to customize an evolution UI CSS file for your project
// based on what components you will need from Mercer Evolution.

// GLOBAL SETTINGS
// ------------------------------------------------------------------------------------------

// RESPONSIVE SETTINGS

// MEDIA QUERY RANGES AND UP
$use-small-up-mediaquery:					true !default; // 0px +
$use-medium-up-mediaquery:					true !default; // 768px +
$use-large-up-mediaquery:					true !default; // 1025px +
$use-xlarge-up-mediaquery:					true !default; // 1441px +
$use-xxlarge-up-mediaquery:					true !default; // 1921px +

// MEDIA QUERY RANGES
$use-small-only-mediaquery:					true !default; // 0px - 767px
$use-medium-only-mediaquery:				true !default; // 768px - 1024px
$use-large-only-mediaquery:					true !default; // 1025px - 1440px
$use-xlarge-only-mediaquery:				true !default; // 1441px - 1920px
$use-xxlarge-only-mediaquery:				true !default; // 1921px +

// OBJECTS SETTINGS
// ------------------------------------------------------------------------------------------
$use-accordion:								true !default;
$use-alert-boxes:							true !default;
$use-autocomplete:							true !default;
$use-breadcrumbs:							true !default;
$use-carousel:								true !default;
$use-data-table:							true !default;
$use-datepicker:							true !default;
$use-dropdown-buttons:						true !default;
$use-labels:								true !default;
$use-off-canvas:							true !default;
$use-pagination:							true !default;
$use-progress-bar:							true !default;
$use-reveal:								true !default;
$use-scrollpane:							true !default;
$use-slider:								true !default;
$use-sub-nav:								true !default;
$use-tabs:									true !default;
$use-tooltip:								true !default;
$use-top-bar:								true !default;