<!doctype html>
<!--[if IE 9]><html class="no-js ie9" lang=""><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang=""><!--<![endif]-->
	<head>
		
		{{> head }}

	</head>
	<body>

		<!-- OFF-CANVAS WRAPPER - BEGINS -->
		<div class="off-canvas-wrap evo-off-canvas" data-offcanvas>
			<div class="inner-wrap">

				<!-- HEADER - BEGINS -->
				{{> header }}
				<!-- HEADER - ENDS -->

				<!-- PAGE - BEGINS -->
				<section class="evo-no-padding" role="main">
					<div class="row evo-full-width">
						{{> body }}
					</div>
				</section>
				<!-- PAGE - ENDS -->

				<!-- FOOTER - BEGINS -->
				{{> footer }}
				<!-- FOOTER - ENDS -->

				<!-- OFF-CANVAS CLOSE - BEGINS -->
				<a class="exit-off-canvas"></a>
				<!-- OFF-CANVAS CLOSE - ENDS -->

			</div>
		</div>
		<!-- OFF-CANVAS WRAPPER - ENDS -->

		{{> scripts }}

	</body>
</html>