<!doctype html>
<!--[if IE 9]><html class="no-js ie9" lang=""><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang=""><!--<![endif]-->
	<head>
		
		{{> head }}

	</head>
	<body>

		<!-- PAGE - BEGINS -->
		<section role="main">
			{{> body }}
		</section>
		<!-- PAGE - ENDS -->

		{{> scripts }}

	</body>
</html>