<!-- BASIC DROPDOWN BUTTONS - BEGINS -->
<button class="button dropdown radius evo-button evo-dropdown-button" data-dropdown="dropA1" type="" tabindex="" title="" aria-controls="dropA1" aria-expanded="false">Dropdown Button</button>
<br>
<ul id="dropA1" data-dropdown-content class="f-dropdown tiny evo-dropdowns" aria-hidden="true"> 
	<li><a href="#/">Link 1</a></li>
	<li><a href="#/">Link 2</a></li>
	<li><a href="#/">Link 3</a></li>
</ul>
<!-- BASIC DROPDOWN BUTTONS - ENDS -->