<!-- OFF-CANVAS - LEFT - BEGINS -->
<div class="off-canvas-wrap evo-off-canvas" data-offcanvas>
	<div class="inner-wrap">

		<!-- OFF-CANVAS - TAB BAR - BEGINS -->
		<nav class="tab-bar" aria-hidden="true">
			<section class="left-small">
				<a class="left-off-canvas-toggle menu-icon">
					<i class="evo-icon-menu7 evo-icon-size-medium" title="Menu"></i>
				</a>
			</section>

			<section class="middle tab-bar-section">
				<h1 class="title">
					<a href="#/">Evolution</a>
				</h1>
			</section>
		</nav>
		<!-- OFF-CANVAS - TAB BAR - ENDS -->

		<!-- OFF-CANVAS - LEFT MENU - BEGINS -->
		<aside class="left-off-canvas-menu" aria-hidden="true">
			<ul class="off-canvas-list">
				<li>
					<label>Label</label>
				</li>
				<li class="has-submenu">
					<a href="#/">Item 1 w/ menu</a>
					<ul class="left-submenu">
						<li class="back">
							<a href="#/">Back</a>
						</li>
						<li>
							<label>Level 1</label>
						</li>
						<li>
							<a href="#/">Sub-item 1</a>
						</li>
						<li class="has-submenu">
							<a href="#/">Sub-item 2 w/ menu</a>
							<ul class="left-submenu">
								<li class="back">
									<a href="#/">Back</a>
								</li>
								<li>
									<label>Level 2</label>
								</li>
								<li>
									<a href="#/">Sub-sub-item 1</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#/">Sub-item 3</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#/">Item 2</a>
				</li>
				<li>
					<a href="#/">Item 3</a>
				</li>
				<li>
					<a href="#/">Item 4</a>
				</li>
				<li>
					<a href="#/">Item 5</a>
				</li>
			</ul>
		</aside>
		<!-- OFF-CANVAS - LEFT MENU - ENDS -->

		<!-- PAGE - BEGINS -->
		<section role="main">
			<div class="row">
				<div class="small-12 columns">
					<h4>Header</h4>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
				</div>
			</div>
		</section>
		<!-- PAGE - ENDS -->

		<!-- OFF-CANVAS CLOSE - BEGINS -->
		<a class="exit-off-canvas"></a>
		<!-- OFF-CANVAS CLOSE - ENDS -->

	</div>
</div>
<!-- OFF-CANVAS - LEFT - ENDS -->