<!-- OFF-CANVAS - BEGINS -->
<div class="off-canvas-wrapper evo-off-canvas">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

		<!-- OFF-CANVAS - TITLE BAR - BEGINS -->
		<div class="title-bar">
			<div class="title-bar-left">
				<button class="menu-icon" type="button" data-open="evo-off-canvas-left-menu">
					<i class="evo-icon-menu7 evo-icon-size-medium" title="Menu"></i>
				</button>
			</div>
			<div class="title-bar-title">
				<a href="#/">Evolution</a>
				<!-- <a href="#/"><img src="{{assets}}/images/core/corp-logos/mercer/mercer_logo_rgb_reverse.png" alt="Mercer - Make Tomorrow, Today" width="160"></a> -->
			</div>
			<div class="title-bar-right">
				<button class="menu-icon" type="button" data-open="evo-off-canvas-right-menu">
					<i class="evo-icon-user evo-icon-size-medium" title="User Account"></i>
				</button>
			</div>
		</div>
		<!-- OFF-CANVAS - TITLE BAR - ENDS -->

		<!-- OFF-CANVAS - LEFT MENU - BEGINS -->
		<div class="off-canvas position-left" id="evo-off-canvas-left-menu" data-off-canvas>
			<ul class="vertical menu" data-drilldown>
				<li>
					<label>Label</label>
				</li>
				<li>
					<a href="">Item 1 w/ menu</a>
					<ul class="vertical menu">
						<li>
							<label>Level 1</label>
						</li>
						<li>
							<a href="#/">Sub-item 1</a>
						</li>
						<li>
							<a href="">Sub-item 2 w/ menu</a>
							<ul class="vertical menu">
								<li>
									<label>Level 2</label>
								</li>
								<li>
									<a href="#/">Sub-sub-item 1</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#/">Sub-item 3</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#/">Item 2</a>
				</li>
				<li>
					<a href="#/">Item 3</a>
				</li>
				<li>
					<a href="#/">Item 4</a>
				</li>
				<li>
					<a href="#/">Item 5</a>
				</li>
			</ul>
		</div>
		<!-- OFF-CANVAS - LEFT MENU - ENDS -->

		<!-- OFF-CANVAS - RIGHT MENU - BEGINS -->
		<div class="off-canvas position-right" id="evo-off-canvas-right-menu" data-off-canvas data-position="right">
			<ul class="vertical menu" data-drilldown>
				<li>
					<label>Label</label>
				</li>
				<li>
					<a href="">Item 1 w/ menu</a>
					<ul class="vertical menu">
						<li>
							<label>Level 1</label>
						</li>
						<li>
							<a href="#/">Sub-item 1</a>
						</li>
						<li>
							<a href="">Sub-item 2 w/ menu</a>
							<ul class="vertical menu">
								<li>
									<label>Level 2</label>
								</li>
								<li>
									<a href="#/">Sub-sub-item 1</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#/">Sub-item 3</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#/">Item 2</a>
				</li>
				<li>
					<a href="#/">Item 3</a>
				</li>
				<li>
					<a href="#/">Item 4</a>
				</li>
				<li>
					<a href="#/">Item 5</a>
				</li>
			</ul>
		</div>
		<!-- OFF-CANVAS - RIGHT MENU - ENDS -->

		<!-- PAGE CONTENT - BEGINS -->
		<div class="off-canvas-content evo-padding" data-off-canvas-content>
			<div class="row">
				<div class="small-12 columns">
					<h4>Header</h4>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
					<p>
						Lorem ipsum amet ornare fusce imperdiet. Orci id nunc at per justo rutrum risus. Libero interdum massa viverra aenean sit. Augue tristique elit nullam arcu quis sed dignissim non. Egestas urna nibh sed. Netus elit quis quis eu aliquam aliquam praesent sit turpis. Nam consectetuer conubia id potenti ipsum bibendum sit nostra.
					</p>
				</div>
			</div>
		</div>
		<!-- PAGE CONTENT - ENDS -->

	</div>
</div>
<!-- OFF-CANVAS - ENDS -->